<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marviin</title>
</head>
<body>

<div id="template-email" style="background: #eee; padding: 18px 30px 45px 30px; font: 13px/120% 'Helvetica';">
    <img src="https://sistema.marviin.com.br/static/marviin/img/logo-pq-marviin-fundo-branco.png" />
    <br style="min-height: 443px;background: #fff; padding: 10px 20px 20px 20px;">
        <p style="color:#858585;font:16px/120% 'Helvetica'">Parabéns, <strong>$arg1.</strong></p>
        <p style="color:#858585;font:15px/120% 'Helvetica'">Seu cadastro foi concluído com sucesso. Você já pode acessar o dashboard clicando no link abaixo:</p>
        <a href="https://sistema.marviin.com.br" style="font: 13px/120% 'Helvetica';display: block; background: rgba(75,192,192,1);width: 400px;color: #fff; height: 56px; margin: 0 auto;text-align: center;padding-top: 25px;font-size: 26px;text-decoration: none;font-weight: bold;border-radius: 20px;">Acessar Dashboard</a><br/><br/>
        <p style="color:#858585;font:15px/120% 'Helvetica'"><strong>Caso tenha alguma dúvida, entre em contato. Veja nossos canais:</strong></p>
        <p style="color:#858585;font:15px/120% 'Helvetica'"><strong>Email: </strong><a href="mailto:contato@marviin.com.br" style="font:13px/120% 'Helvetica'">contato@marviin.com.br</a></p>
        <p style="color:#858585;font:15px/120% 'Helvetica'"><strong>Telefone: </strong><a href="" style="text-decoration: none; font:13px/120% 'Helvetica'">(21) 3593-3327</a></p>
        <p style="color:#858585;font:15px/120% 'Helvetica'; margin-bottom: 0;"><strong>Redes Sociais: </strong></p>
        <a href="https://www.facebook.com/marviin.bot" style="display: block; float: left;margin-top: 10px;text-decoration: none; color: #3b5998;font-weight: bold;font-size:16px; font-family: Helvetica"><img src="https://acesso.marviin.com.br/img/facebook.png" width="50" height="50" /></a>
        <a href="https://www.youtube.com/channel/UC8bK9mblvorHx3i5-ChwICA" style="display: block;float: left;margin-top: -4px; height: 100px; text-decoration: none; color: #cc181e;font-weight: bold;font-size:16px; font-family: Helvetica"><img src="https://acesso.marviin.com.br/img/youtube.png" width="150" height="80" /></a>
    </div>
    <small style="color: #858585;font: 13px/120% 'Helvetica';width: 100%;float: left;margin: 10px 1px;font-size: 10px;">Este é um email automático, não responda. Caso tenha alguma dúvida entre em contato conosco pelo email <a href="mailto:contato@marviin.com.br" style="font:13px/120% 'Helvetica'">contato@marviin.com.br</a></small>
</div>

</body>
</html>