var ws4redis = WS4Redis({
    uri: '{{ WEBSOCKET_URI }}{{ request.session.id_loja }}?subscribe-broadcast',
    receive_message: receiveMessage,
    heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
});

// receive a message though the websocket from the server
function receiveMessage(msg) {
    console.log('Message from Websocket: ' + msg);
    var input = JSON.parse(msg);
    console.log(input);
    if(input.origem === 'chat')
    {
        var notifyText = '<strong>'+input.nome_cliente+'</strong><br /> enviou uma mensagem';
        var notifyImage = '../../static/marviin/img/default_user.png';
        if (input.foto_cliente)
        {
            notifyImage = input.foto_cliente;
        }
        notify('marviin', input.origem, notifyText, notifyImage, input.uid, input.notificacao_uuid);
    }
    else if(input.origem === 'troca_mesa')
    {
        $.each(input.notificacoes, function(i, notificacao)
            {
                $('.' + notificacao.notificacao_uuid + '_notificacao_mesa').html('mesa '+input.mesa);
            }
        );
        if (input.mesa_anterior !== undefined)
        {
            var notifyText = '<strong>'+input.nome_cliente+'</strong><br /> trocou da mesa '+input.mesa_anterior+' para '+input.mesa;
            var notifyImage = '../../static/marviin/img/default_user.png';
            if (input.foto_cliente)
            {
                notifyImage = input.foto_cliente;
            }
            notify('marviin', input.origem, notifyText, notifyImage, undefined, input.notificacao_uuid);
        }
    }
    else if(input.origem === 'cardapio')
    {
        var notifyText = '<strong>'+input.nome_cliente+'</strong> da <strong class="'+input.notificacao_uuid+'_notificacao_mesa">mesa '+input.mesa+'</strong><br /> solicitou o cardápio';
        var notifyImage = '../../static/marviin/img/default_user.png';
        if (input.foto_cliente)
        {
            notifyImage = input.foto_cliente;
        }
        notify('marviin', input.origem, notifyText, notifyImage, undefined, input.notificacao_uuid);
    }
    else if(input.origem === 'conta')
    {
        var notifyText = '<strong>'+input.nome_cliente+'</strong> da <strong class="'+input.notificacao_uuid+'_notificacao_mesa">mesa '+input.mesa+'</strong><br /> pediu a conta';
        var notifyImage = '../../static/marviin/img/default_user.png';
        if (input.foto_cliente)
        {
            notifyImage = input.foto_cliente;
        }
        notify('marviin', input.origem, notifyText, notifyImage, undefined, input.notificacao_uuid);
    }
    else if(input.origem === 'garcom')
    {
        var notifyText = '<strong>'+input.nome_cliente+'</strong> da <strong class="'+input.notificacao_uuid+'_notificacao_mesa">mesa '+input.mesa+'</strong><br /> chamou o garçom';
        var notifyImage = '../../static/marviin/img/default_user.png';
        if (input.foto_cliente)
        {
            notifyImage = input.foto_cliente;
        }
        notify('marviin', input.origem, notifyText, notifyImage, undefined, input.notificacao_uuid);
    }
    else if(input.origem === 'fbmessenger')
    {
        var notifyText = '<strong>'+input.nome_cliente+'</strong> da <strong class="'+input.notificacao_uuid+'_notificacao_mesa">mesa '+input.mesa+'</strong><br /> fez um novo pedido';
        var notifyImage = '../../static/marviin/img/default_user.png';
        if (input.foto_cliente)
        {
            notifyImage = input.foto_cliente;
        }
        notify('marviin', input.origem, notifyText, notifyImage, undefined, input.notificacao_uuid);
    }
}
$.notify.addStyle("marviin", {
    html:
        "<div>" +
            "<span data-notify-html='notifyUUID' />" +
            "<span data-notify-html='uidchat' />" +
            "<time data-notify-html='time' />" +
            "<div class='image' data-notify-html='image'/>" +
            "<div class='text-wrapper'>" +
                "<div class='text' data-notify-html='text'/>" +
            "</div>" +
            "<span class='icon-push'></span>" +
        "</div>"
});
function notify(style, className, notifyText, notifyImage, uidchat, notifyUUID, notifyTime) {
    if (!notifyTime)
    {
        notifyTime = new Date();
        var horas = notifyTime.getHours()+'';
        if (horas.length === 1)
            horas = '0'+horas;
        var minutos = notifyTime.getMinutes()+'';
        if (minutos.length === 1)
            minutos = '0'+minutos;
        notifyTime = horas+':'+minutos;
    }
    var notifyParams = {
        text: notifyText,
        image: "<img class='img-circle' width='40px' src='"+notifyImage+"'/>",
        time: notifyTime
    };
    if (uidchat)
    {
        notifyParams.uidchat = $('<input type="hidden" name="uidchat" value="'+uidchat+'" />');
    }
    notifyParams.notifyUUID = $('<input type="hidden" name="notifyUUID" value="'+notifyUUID+'" />');
    $.notify(notifyParams, {
        style: style,
        className: className,
        autoHide: false,
        autoHideDelay: 9000,
        clickToHide: true,
        order: 'fifo'
    });

}
$(document).on("notify-hide", ".notifyjs-wrapper", function(e) {
    var notifyUUID = $(this).find('input[name="notifyUUID"]');
    if (notifyUUID[0])
    {
      $.post('/marviin/api/rest/notificacao_lida',
             {notificacao_uuid: notifyUUID.val()},
             function(data) {
               console.log(data);
             }
      )
      .fail(function(data) {
        if (data.status === 403)
        {
            alert('Sessão inválida. Realize o login novamente.');
            window.location.href = '/?next='+window.location.pathname;
        }
      });
    }
    var uidInput = $(this).find('input[name="uidchat"]');
    if (uidInput[0])
    {
        var uid = uidInput.val();
        console.log(uid);
        $.get('/marviin/api/rest/pedido/'+uid+'/chat',
                 function(data) {
                   console.log(data);
                 }
        )
        .fail(function(data) {
            if (data.status === 403)
            {
                alert('Sessão inválida. Realize o login novamente.');
                window.location.href = '/?next='+window.location.pathname;
            }
        });
        /*
        $('.'+uid+'_dialogo').parent('.status-label').parent(".detalhe-pedido-icon").find('div.dialogo').show();
        $('.bg').show();
        var objDiv = document.getElementById(uid + '_messages');
        objDiv.scrollTop = objDiv.scrollHeight;
        */
    }
});