<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span style="color:rgba(75,192,192,1);"><strong>M</strong></span><span style="color:#d25c5c;" class="menor"> Pub</span></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% block  Dashboard %}{% endblock %}"><a href="/home">Dashboard <span class="sr-only">(current)</span></a></li>
        <li class="{% block  upload %}{% endblock %}"><a href="/upload">Carregar Cardápio</a>
        <li class="{% block  pedidos %}{% endblock %}"><a href="/pedidos">Pedidos de Hoje <span class="badge">42 em aberto</span></a></li>
        <li class="{% block  historico %}{% endblock %}"><a href="/historico">Histórico de pedidos</a></li>
        <li class="{% block  relacionamento %}{% endblock %}"><a href="/historico">Relacionamento com Clientes</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown user">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
             <img src="../static/bipy3/img/default_user.png" class="img-circle" alt="Cinque Terre" width="30" height="30">
            Olá, Bar Demonstração Indoor <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/cadastro"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Editar informações</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/login"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>