<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="viewport" name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Marviin - Inovacao em atendimento</title>

    <link href="../../static/marviin/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/marviin/css/jquery.fancybox.css" media="screen" />
    <link rel="stylesheet" href="../../static/marviin/css/jquery-ui.css">
    <link href="../../static/marviin/css/style.css" rel="stylesheet">
    <link href="../../static/marviin/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../static/marviin/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/marviin/js/dist/styles/marviin/notify-marviin.css">


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="../../static/marviin/js/jquery.min.js"></script>
    <script src="../../static/marviin/js/jquery.tmpl.min.js"></script>
    <script src="../../static/marviin/js/bootstrap.min.js"></script>
    <script src="../../static/marviin/js/fileinput.min.js" type="text/javascript"></script>
    <script src="../../static/marviin/js/locales/pt-BR.js" type="text/javascript"></script>
    <script src="../../static/marviin/js/locales/datepicker.pt-BR.min.js" charset="UTF-8"></script>
    <script src="../../static/marviin/js/jquery-ui.js"></script>
     <script type="text/javascript" src="../../static/marviin/js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="../../static/marviin/js/ws4redis.js"></script>
    <script type="text/javascript" src="../../static/marviin/js/dist/notify.js"></script>
    <script type="text/javascript" src="../../static/marviin/js/dist/styles/marviin/notify-marviin.js"></script>
    <script type="text/javascript" src="../../static/marviin/js/main.js"></script>
  </head>
  <body>
    <audio id="novo_pedido_som" src="../../static/marviin/media/aviso_pedido.mp3" type="audio/mp3"></audio>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="../static/marviin/img/login-sistema.png" /> <span class="nome-loja">/ {{ request.session.nome_loja }}</span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!--<li class="{% block  Dashboard %}{% endblock %}"><a href="/home">Dashboard <span class="sr-only">(current)</span></a></li>-->
            <li class="{% block  pedidos %}{% endblock %}"><a href="/pedidos">Pedidos</a></li>
            <li class="{% block  delivery %}{% endblock %}"><a href="/pedidos-delivery">Delivery</a></li>
            <li class="{% block  historico %}{% endblock %}"><a href="/historico">Histórico</a></li>
            <!--<li class="{% block  relacionamento %}{% endblock %}"><a href="/relacionamento">Clientes</a></li>-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Cardápio <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="{% block  upload %}{% endblock %}"><a href="/upload">Carregar Cardápio</a></li>
                {% comment %}
                <li role="separator" class="divider"></li>
                <li class=""><a href="/cadastrar-cardapio">Cadastrar Cardápio</a></li>
                {% endcomment %}
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown user">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                 <img src="../static/marviin/img/default_user.png" class="img-circle" alt="Cinque Terre" width="30" height="30">
                Olá, {% if request.user.is_authenticated %}{{ request.user.first_name }}{% endif %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/cadastro"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Editar informações</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Sair</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block conteudo %}Conteudo pagina{% endblock %}

    <div class="footer">
      <div class="container">
        <p>©Copyright Bipy3 2016. Todos os direitos reservados. <br /><a href="/termos">Termos e condições de uso</a></p>
      </div>
    </div>

    {% block scripts %} Scripst inline {% endblock %}

  </body>
</html>