*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p, a, div, span, label, input, select, button{
    font-family: "Roboto";
    color: #665c53;
    font-size: 15px;
}

.content{
    width: 412px;
    height: 540px;
    border: 1px solid #aaa;
    border-radius: 5px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.content img {
    margin: 25px auto;
    width: 106px;
    display: block;
}

.acesso-texto{
    width: 300px;
    text-align: center;
    font-family: 'Roboto';
    margin: 0 auto;
    font-size: 16px;
    color: #aaa;
}

#fb-login-btn{
    width: 90px;
    margin: 35px auto;
}

#permissao-pagina{
    width: 100%;
    padding: 10px;
}

#status{
    padding: 0 0 0 10px;
    font-weight: bold;
}

#permissao-pagina label{
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

#permissao-pagina input[type="text"]{
    float: left;
    width: 265px;
    font-size: 14px;
    height: 30px;
    margin: 0 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button{
    float: left;
    width: 100%;
}

select{
    height: 33px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#pid{
    margin: 0 0 20px 0;
    float: left;
    width: 200px
}

#fb-logout-btn{
    margin: 10px;
    float: left;
}

#ok, #sair, .btn-confirma{
    color: #fff;
    background-color: rgba(75,192,192,1);
    border-color: rgba(75,192,192,1);
    padding: 6px 12px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: bold;
}

#sair{
    background-color: #c9302c;
    border-color: #c9302c;
}

#ok:hover{
    text-decoration: underline;
}

#permissao-pagina label.text-into{
    width: 94%;
    float: left;
    margin: 0 0 20px 2px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.content-dados{
    height: auto;
    position: inherit;
    border: 0;
    width: 768px;
}

h2{
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
}

.dados-est h2{
    margin-bottom: 45px;
}

h2 label{
    font-size: 20px;
}

.dados-est, .dados-resp, .dados-bot{
    float: left;
    width: 49%;
}

.content-dados #permissao-pagina input[type="text"] {
    width: 92%;
}

.input-middle{
    float: left;
    width: 49%;
}

.input-middle.ma{
    width: 67%;
}

.input-middle.me{
    width: 29%;
}

.input-middle select{
    width: 176px;
}

.logo{
    float: left;
    display: block;
    margin: 12px 450px 12px 15px;
}

ul li{
    list-style: none;
}

.header-acesso ul{
    float: right;
    margin: 34px 100px 0 0;
}

.header-acesso a{
    color: #999;
}

.header-acesso a:hover{
    text-decoration: underline;
    color: #000;
}

.header-acesso{
    float: left;
    width: 100%;
    -webkit-box-shadow: -1px 2px 5px -2px rgba(6, 6, 6,.5);
    -moz-box-shadow: -1px 2px 5px -2px rgba(6, 6, 6,.5);
    box-shadow: -1px 6px 2px -2px rgba(6, 6, 6,.5);
    margin: 0 0 30px 0;
}

footer, .contato{
    float: left;
    width: 100%;
}

.contato{
    background: #F7F8FA;
    padding-bottom: 42px;
    margin-top: 40px;
}

.contato h2 {
    font-size: 40px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    font-weight: normal;
}

.colored-line {
    margin: auto;
    z-index: 1;
    width: 165px;
    height: 1px;
    background: red;
    margin-top: 52px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 600px;
}

.container .coluna-fale {
    width: 190px;
    float: left;
    text-align: center;
}

.container .coluna-fale ul{
    margin-top: 30px;
}


.coluna-fale ul a{
    color: #428bca;
    text-decoration: none;
}

.coluna-fale:last-child ul a {
    color: #3b5998;
    font-weight: bold;
}

.coluna-fale ul a strong {
    font-weight: 700;
}

footer .copyright {
    color: #808080;
    padding: 20px 0;
    width: 850px;
    margin: 0 auto;
    text-align: center;
}

footer .copyright a {
    color: #428bca;
}

.senha{
    float: left;
    width: 100%;
    min-height: 500px;
}

.senha .container-form{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 300px;
    height: 330px;
    background: #fff;
    -webkit-box-shadow: 2px 4px 10px 8px rgba(6, 6, 6,.5);
    -moz-box-shadow: 2px 4px 10px 8px rgba(6, 6, 6,.5);
    box-shadow: 2px 4px 10px 8px rgba(6, 6, 6,.5);
    z-index: 100;
}

.senha p{
    width: 80%;
    margin: 25px auto;
}

.senha label{
    margin-bottom: 0;
}

.senha input[type="password"] {
    float: left;
    width: 80%;
    font-size: 14px;
    height: 30px;
    margin: 0 0 15px 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.senha .btn-confirma{
    width: 100px;
    margin: 0 auto;
    display: block;
}

.senha label{
    margin-left: 25px;
}

.senha p.bullet-senha{
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 10px;
}

.contem-footer{
   position:fixed;
   left:0px;
   bottom:0px;
   width: 100%;
   height: 57px;
   z-index: 1;
   border-top: 1px solid #eee;
}