{% extends "includes/layout.html" %}

{% block conteudo %}
    <div class="container">
      <div class="page-header">
        <h1><i class="fa fa-user"></i> Suas informações</h1>
      </div>
      <form class="form-user">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <label>Nome estabelecimento:</label>
            <input type="text" placeholder="Nome estabelecimento..." class="form-control">
          </label><br>
       </div>
        <div class="col-md-12">
          <label>Endereço:</label>
          <input type="text" placeholder="Logradouro..." class="form-control"><br>
        </div>
        <div class="col-md-6">
          <input type="text" placeholder="Complemento..." class="form-control">
        </div>
        <div class="col-md-6">
          <input type="text" placeholder="Bairro..." class="form-control"><br>
        </div>
        <div class="col-md-6">
          <input type="text" placeholder="Cidade..." class="form-control">
        </div>
        <div class="col-md-6">
          <input type="text" placeholder="Estado..." class="form-control"><br>
        </div>
        <div class="col-md-7">
          <input type="text" placeholder="CEP..." class="form-control"><br>
        </div>
        <div class="col-md-12">
          <label>Tipo de serviço:</label>
            <select class="form-control" id="sel1">
            <option>Selecione tipo</option>
            <option>Restaurante / Bar</option>
            <option>Pizzaria</option>
          </select><br>
          </label>
        </div>

        <div class="col-md-12">
            <label>Logo:</label>
              <input id="logo" name="file-pt-BR[]" type="file" multiple>
            </label><br>
        </div><br><br>
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-okr" aria-hidden="true"></span> Salvar
        </button><br /><br />
      </form>
      </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript">
       $('#logo').fileinput({
          language: 'pt-BR',
          uploadUrl: '#',
          allowedFileExtensions : ['jpg', 'png','gif'],
       });
    </script>

{% endblock %}