{% extends "includes/layout.html" %}

{% block  pedidos %}active{% endblock %}

{% block conteudo %}

<div class="container">
  <div class="page-header">
    <h1><i class="fa fa-list"></i> Pedidos de hoje</h1>
  </div>
  <div class="filtros-pedidos col-md-12">
    <h4><i class="fa fa-filter"></i> Filtrar pedidos</h4><br>
    <div class="form-group">
      <div class="col-md-4">
        <select class="form-control" id="sel1">
          <option>Status Pedido</option>
          <option>Solicitado</option>
          <option>Em processo</option>
          <option>Concluído</option>
          <option>Enregue</option>
          <option>Cancelado</option>
        </select><br><br>
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="Cliente..." class="form-control"><br><br>
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="Número Pedido..." class="form-control"><br><br>
      </div>
      <div class="col-md-3">
        <h5><i class="fa fa-calendar-times-o"></i> Visualizar os pedidos a partir de:</h5>
      </div>
      <div class="col-md-2">
          <input type="text" placeholder="selecione a data..." id="pedido-de" class="form-control">
      </div>
      <div class="col-md-3">
        <label>
          <select class="form-control">
              <option>00:00</option>
              <option>01:00</option>
              <option>02:00</option>
              <option>03:00</option>
              <option>04:00</option>
              <option>05:00</option>
              <option>06:00</option>
              <option>07:00</option>
              <option>08:00</option>
              <option>09:00</option>
              <option>10:00</option>
              <option>11:00</option>
              <option>12:00</option>
              <option>13:00</option>
              <option>14:00</option>
              <option>15:00</option>
              <option>16:00</option>
              <option>17:00</option>
              <option>18:00</option>
              <option>19:00</option>
              <option>20:00</option>
              <option>21:00</option>
              <option>22:00</option>
              <option>23:00</option>
          </select>
        </label>
      </div>
    </div>
  </div>
    <button type="button" class="btn btn-default btn-restaurar" aria-label="Left Align" style="display: none">
      <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Restaurar colunas
    </button>
    <div class="dnd">
        <br><br>
      <!--Coluna de pedidos solicitados-->

      <div class="coluna">
        <h3 class="info">
          <label class="status-label text-laranja"><i class="fa fa-hand-paper-o fa-2x"></i> <span>Solicitado</span></label>
          <label class="expandi"><i class="fa fa-ellipsis-v"></i></label>
        </h3>
        <ul id="solicitado" class="droptrue">

          <!-- Inicio do pedido-->

          <li class="ui-state-default">
            <div class="header-pedido">
              <div class="cabecalho">
                <img class="media-object img-circle" src="../../static/marvinpub/img/default_user.png" width="40" height="40" alt="">
                <p>Roberto<br> <span class="ultimo">Pedido feito há 1 minuto</span></p>
              </div>
            </div>
            <div class="conteudo-pedido">
              <ul>
                <li><label class="status-label"><strong>Número do pedido:</strong> 10244</label></li>
                <li class="messeger detalhe-pedido-icon">
                  <label class="status-label">
                    <strong>Detalhes:</strong>
                    <i class="fa fa-facebook open-dialogo"></i>
                    <i class="fa fa-list-ol open-lista-pedidos"></i>
                    <i>55</i>
                  </label>

                  <!-- Lista de pedidos-->

                  <div class="lista-pedidos">
                    <a href="javascript:void(0);" class="close">X</a>
                    <div class="bs-example">
                        <div class="list-group">

                            <!-- Item pedido-->
                            <a href="javascript:void(0);" class="list-group-item">
                                Chop escuro 300 ml sem colarinho<span class="badge">1</span>
                            </a>
                            <!-- Fim item pedido-->

                        </div>
                    </div>
                  </div>

                  <!--Fim lista de pedidos-->

                  <!-- inicio dialogo messenger. Em relaçao ao telegram, alterar a classe abaixo para mudar o layout-->

                  <div class="dialogo messeger">
                    <a href="javascript:void(0);" class="close">X</a>
                    <div class="cabecalho-chat">
                      <p>Roberto<br> <span class="ultimo">Último pedido feito há 3 dias</span><p>
                    </div>
                    <ul>
                      <li>
                        <span>Enviado 12 de maio às 19:32</span>
                      </li>
                      <li class="cons">
                          <img class="media-object img-circle" src="../../static/marvinpub/img/default_user.png" width="40" height="40" alt="">
                          <div class="balao">
                            <h4 class="media-heading"> Roberto</h4>
                            <p>Olá</p>
                          </div>
                      </li>
                      <span class="bico"></span>
                      <li class="est">
                          <img class="media-object img-circle" src="img/logo-pizzaria.png" width="40" height="40" alt="">
                          <div class="balao">
                            <h4 class="media-heading"> Bar Demonstração Indoor</h4>
                            <p>Olá, Roberto! Digite o número de sua mesa para iniciarmos o seu atendimento.</p>
                          </div>
                      </li>
                       <li class="cons">
                          <img class="media-object img-circle" src="../../static/marvinpub/img/default_user.png" width="40" height="40" alt="">
                          <div class="balao">
                            <h4 class="media-heading"> Roberto</h4>
                            <p>15</p>
                          </div>
                      </li>
                      <span class="bico"></span>
                      <li>
                        <span>Enviado 12 de maio às 19:33</span>
                      </li>
                      <li class="est">
                          <img class="media-object img-circle" src="img/logo-pizzaria.png" width="40" height="40" alt="">
                          <div class="balao">
                            <h4 class="media-heading"> Bar Demonstração Indoor</h4>
                            <p>Excelente! Veja o nosso cardápio e digite aqui o que deseja. Ah, quanto mais detalhado melhor :)</p>
                          </div>
                      </li>
                      <li class="cons">
                          <img class="media-object img-circle" src="../../static/marvinpub/img/default_user.png" width="40" height="40" alt="">
                          <div class="balao">
                            <h4 class="media-heading"> Roberto</h4>
                            <p>1 Chop escuro 300 ml sem colarinho</p>
                          </div>
                      </li>
                      <span class="bico"></span>
                      <li class="est">
                          <img class="media-object img-circle" src="img/logo-pizzaria.png" width="40" height="40" alt="">
                          <div class="balao">
                            <h4 class="media-heading"> Bar Demonstração Indoor</h4>
                            <p>Mais alguma coisa?</p>
                          </div>
                      </li>
                      <li class="cons">
                          <img class="media-object img-circle" src="../../static/marvinpub/img/default_user.png" width="40" height="40" alt="">
                          <div class="balao">
                            <h4 class="media-heading"> Roberto</h4>
                            <p>não</p>
                          </div>
                      </li>
                      <span class="bico"></span>
                      <li>
                        <span>Enviado 12 de maio às 19:34</span>
                      </li>
                      <li class="est">
                          <img class="media-object img-circle" src="img/logo-pizzaria.png" width="40" height="40" alt="">
                          <div class="balao">
                            <h4 class="media-heading"> Bar Demonstração Indoor</h4>
                            <p>Ok, seu pedido já está indo.</p>
                          </div>
                      </li>
                    </ul>
                    <div class="box-teclado">
                      <label>
                        <input type="text" placeholder="Mensagem..." name="texto">
                      </label>
                      <i class="glyphicon glyphicon-play"></i>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <!-- Fim dialogo-->

            <!-- radio buttons para alterar o status sem arrastar-->

            <div class="footer-pedido">
              <div class="status-list">
                <label class="solicitado" class="ativo"><input type="radio" name="solicitado"/><i class="fa fa-hand-paper-o"></i></label>
                <label class="em-processo"><input type="radio" name="em-processo"/><i class="fa fa-hand-grab-o"></i></label>
                <label class="concluido"><input type="radio" name="concluido"/><i class="fa fa-hand-pointer-o"></i></label>
                <label class="entregue"><input type="radio" name="entregue"/><i class="fa fa-thumbs-o-up"></i></label>
                <label class="cancelado"><input type="radio" name="cancelado"/><i class="fa fa-thumbs-o-down"></i></label>
              </div>
            </div>
          </li>

          <!-- Fim do pedido-->

          <!-- Inicio do pedido-->

          <li class="ui-state-default">
            <div class="header-pedido">
              <div class="cabecalho">
                <img class="media-object img-circle" src="../../static/marvinpub/img/default_user.png" width="40" height="40" alt="">
                <p>Joana<br> <span class="ultimo">Pedido feito há 3 minutos</span></p>
              </div>
            </div>
            <div class="conteudo-pedido">
              <ul>
                <li><label class="status-label"><strong>Número do pedido:</strong> 10500</label></li>
                <li class="detalhe-pedido-icon">
                  <label class="status-label">
                    <strong>Detalhes:</strong>
                    <i class="fa fa-send open-dialogo"></i>
                    <i class="fa fa-list-ol open-lista-pedidos"></i>
                    <i>51</i>
                  </label>

                  <!-- Lista de pedidos-->

                  <div class="lista-pedidos">
                    <a href="javascript:void(0);" class="close">X</a>
                    <div class="bs-example">
                        <div class="list-group">

                            <!-- Item pedido-->
                            <a href="javascript:void(0);" class="list-group-item">
                                Chop escuro 300 ml<span class="badge">1</span>
                            </a>
                            <!--Fim item-->
                            <!-- Item pedido-->
                            <a href="javascript:void(0);" class="list-group-item">
                                 Coca-cola 600 ml<span class="badge">1</span>
                            </a>
                            <!--Fim item-->
                        </div>
                    </div>
                  </div>

                  <!-- inicio dialogo telegram -->

                  <div class="dialogo telegram">
                    <a href="javascript:void(0);" class="close">X</a>
                    <div class="cabecalho-chat">
                      <p>Fábio Marques<br> <span class="ultimo">Último pedido feito há 3 dias</span><p>
                    </div>
                    <ul>
                      <li>
                        <span>Enviado 12 de maio às 19:32</span>
                      </li>
                      <li class="cons">
                          <img class="media-object img-circle" src="img/perfil.jpg" width="40" height="40" alt="">
                          <div class="balao">
                            <h4 class="media-heading"> Fábio</h4>
                            <p>Olá</p>
                          </div>
                      </li>
                      <span class="bico"></span>
                      <li class="est">
                          <img class="media-object img-circle" src="img/logo-pizzaria.png" width="40" height="40" alt="">
                          <div class="balao">
                            <h4 class="media-heading"> Bar Demonstração Indoor</h4>
                            <p>Olá, Fábio! Digite o número de sua mesa para iniciarmos o seu atendimento.</p>
                          </div>
                      </li>
                       <li class="cons">
                          <img class="media-object img-circle" src="img/perfil.jpg" width="40" height="40" alt="">
                          <div class="balao">
                            <h4 class="media-heading"> Fábio</h4>
                            <p>15</p>
                          </div>
                      </li>
                      <span class="bico"></span>
                      <li>
                        <span>Enviado 12 de maio às 19:33</span>
                      </li>
                      <li class="est">
                          <img class="media-object img-circle" src="img/logo-pizzaria.png" width="40" height="40" alt="">
                          <div class="balao">
                            <h4 class="media-heading"> Bar Demonstração Indoor</h4>
                            <p>Excelente! Veja o nosso cardápio e digite aqui o que deseja. Ah, quanto mais detalhado melhor :)</p>
                          </div>
                      </li>
                      <li class="cons">
                          <img class="media-object img-circle" src="img/perfil.jpg" width="40" height="40" alt="">
                          <div class="balao">
                            <h4 class="media-heading"> Fábio</h4>
                            <p>1 chope escuro 300 ml</p>
                          </div>
                      </li>
                      <span class="bico"></span>
                      <li class="est">
                          <img class="media-object img-circle" src="img/logo-pizzaria.png" width="40" height="40" alt="">
                          <div class="balao">
                            <h4 class="media-heading"> Bar Demonstração Indoor</h4>
                            <p>Mais alguma coisa?</p>
                          </div>
                      </li>
                      <li class="cons">
                          <img class="media-object img-circle" src="img/perfil.jpg" width="40" height="40" alt="">
                          <div class="balao">
                            <h4 class="media-heading"> Fábio</h4>
                            <p>não</p>
                          </div>
                      </li>
                      <span class="bico"></span>
                      <li>
                        <span>Enviado 12 de maio às 19:34</span>
                      </li>
                      <li class="est">
                          <img class="media-object img-circle" src="img/logo-pizzaria.png" width="40" height="40" alt="">
                          <div class="balao">
                            <h4 class="media-heading"> Bar Demonstração Indoor</h4>
                            <p>Ok, seu pedido já está indo.</p>
                          </div>
                      </li>
                    </ul>
                    <div class="box-teclado">
                      <label>
                        <input type="text" placeholder="Mensagem..." name="texto">
                      </label>
                      <i class="glyphicon glyphicon-play"></i>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="footer-pedido">
              <div class="status-list">
                <label class="solicitado" class="ativo"><input type="radio" name="solicitado"/><i class="fa fa-hand-paper-o"></i></label>
                <label class="em-processo"><input type="radio" name="em-processo"/><i class="fa fa-hand-grab-o"></i></label>
                <label class="concluido"><input type="radio" name="concluido"/><i class="fa fa-hand-pointer-o"></i></label>
                <label class="entregue"><input type="radio" name="entregue"/><i class="fa fa-thumbs-o-up"></i></label>
                <label class="cancelado"><input type="radio" name="cancelado"/><i class="fa fa-thumbs-o-down"></i></label>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="coluna">
        <h3 class="info">
          <label class="status-label text-azul"><i class="fa fa-hand-grab-o fa-2x"></i> <span>Em processo</span></label>
          <label class="expandi"><i class="fa fa-ellipsis-v"></i></label>
        </h3>
        <ul id="em-processo" class="droptrue">
        </ul>
      </div>
      <div class="coluna">
        <h3 class="info">
          <label class="status-label text-verde"><i class="fa fa-hand-pointer-o fa-2x "></i> <span>Concluído</span></label>
          <label class="expandi"><i class="fa fa-ellipsis-v"></i></label>
        </h3>
        <ul id="concluido" class="droptrue">
        </ul>
      </div>
      <div class="coluna">
        <h3 class="info">
          <label class="status-label text-verde"><i class="fa fa-thumbs-o-up fa-2x "></i> <span>Entregue</span></label>
          <label class="expandi"><i class="fa fa-ellipsis-v"></i></label>
        </h3>
        <ul id="entregue" class="droptrue">
        </ul>
      </div>
      <div class="coluna">
        <h3 class="info">
          <label class="status-label text-red"><i class="fa fa-thumbs-o-down fa-2x"></i> <span>Cancelado</span></label>
          <label class="expandi"><i class="fa fa-ellipsis-v"></i></label>
        </h3>
        <ul id="cancelado" class="droptrue">
        </ul>
      </div>
    </div>
  </div>
  <div class="bg"></div>

{% endblock %}


{% block scripts %}

<script type="text/javascript">

  $(document).ready(function($) {

    //drag and drop pedidos
    $( "ul.droptrue" ).sortable({
      connectWith: "ul",
      items: "> li",
      placeholder: "sortable-placeholder",
      revert: 200,
      tolerance: "pointer",
      receive: function( event, ui ) {
        // evento do momento em que o box e "solto" na coluna de destino
      }
    });

    // Datepicker
    $('#pedido-de').datepicker({
        dateFormat: 'dd/mm/yy'
    });

    // Seta altura do background quando a janela do dialogo é exibida
    $(".bg").height($(document).height());

    // Botão fechar box
    $('.coluna').on('click', '.close, .bg', function() {
      $(this).parent('.dialogo, .lista-pedidos').hide();
      $('.bg').hide();
    });

    // Abrir dialogo
    $('.coluna').on('click', '.open-dialogo', function() {
        $(this).parent('.status-label').parent(".detalhe-pedido-icon").find('div.dialogo').show();
        $('.bg').show();
    });

    // Abrir lista de pedidos
    $('.coluna').on('click', '.open-lista-pedidos', function() {
        $(this).parent('.status-label').parent(".detalhe-pedido-icon").find("div.lista-pedidos").show();
        $(".bg").show();
    });

    // Troca de colunas no clique dos botoes de status
    $('.coluna').on('click', '.status-list label', function() {
      $(this).parent(".status-list").find("input").prop("checked", false);
      $(this).find("input").prop("checked", true);

      //clona e copia o box com o pedido para a coluna do status escolhido
      $destino = $(this).attr("class");
      $(this).closest('li').hide("300");
      $('#' + $destino).prepend("<li class='ui-state-default ui-sortable-handle'>" + $(this).closest('li').html() + "</li>");
      $(this).closest('li').remove();

    });

    //efeito para expandir colunas
    $('.expandi').click(function(){
        //inserir span no titulo coluna
        //inserir btn para restaurar as colunas
        $(".btn-restaurar").show(600);
        $('i.fa-ellipsis-h').removeClass('fa-ellipsis-h').addClass('fa-ellipsis-v');
        $('.coluna').addClass('coluna-normal');
        $('.coluna').removeClass('col-active');
        $(this).parent('.info').parent('.coluna').removeClass('coluna-normal');
        $(this).parent('.info').parent('.coluna').addClass('col-active');
        $(this).find('.fa').removeClass('fa-ellipsis-v').addClass('fa-ellipsis-h');

        $('.coluna-normal').animate({
          width: "5%"
        }, 1500 );

        $('.col-active').animate({
          width: "75%"
        }, 1500 );

    });

    //Botao restaurar as colunas
    $('.btn-restaurar').click(function(){
        $(".btn-restaurar").hide(600);
        $('.coluna').removeClass('col-active');
        $('.coluna').removeClass('coluna-normal');
        $('i.fa-ellipsis-h').removeClass('fa-ellipsis-h').addClass('fa-ellipsis-v');
        $('.coluna').animate({
          width: "220px"
        }, 1500 );
    });
  });
</script>

{% endblock %}