{% extends "includes/layout.html" %}

{% block upload %}active{% endblock %}

{% block conteudo %}

<div class="container upload">
    <div class="contem-cardapio">
        <div class="page-header">
            <h1><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> Controle do Cardápio</h1>
        </div>
        <a href="#categoria" class="fancybox btn btn-primary btn-verde"><i class="fa fa-pencil" aria-hidden="true"></i> Adicionar Categoria</a>
        <a href="#ItemPrincipal" class="fancybox btn btn-primary btn-verde"><i class="fa fa-pencil" aria-hidden="true"></i> Adicionar Item Cardapio</a>
        <a href="#acompanhamento" class="fancybox btn btn-primary btn-verde"><i class="fa fa-pencil" aria-hidden="true"></i> Adicionar Lista Sub Itens</a>
        <a href="#taxaentrega" class="fancybox btn btn-primary btn-verde"><i class="fa fa-pencil" aria-hidden="true"></i> Adicionar Taxa de Entrega</a>
        <a href="#itemGratis" class="fancybox btn btn-primary btn-verde"><i class="fa fa-pencil" aria-hidden="true"></i> Adicionar Item Gratis</a><br>
        <br>
             <a class="btn btn-primary fancybox" href="#card-princ"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Tela principal
              </a>
        <a class="btn btn-primary fancybox" href="#item-unico"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Tela lista escolha unica
              </a>
        <a class="btn btn-primary fancybox" href="#multiplos-itens"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Tela lista multiplas escolhas
              </a>
        <a class="btn btn-primary fancybox" href="#resumo"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Tela resumo
              </a>
              <br /><br />
        <div class="lista-cardapio">
            <div class="col-left">
                <h2><i class="fa fa-list-ul" aria-hidden="true"></i> lista categoria/Itens Cardapio</h2>
                <ul class="lista-categoria">
                    <li class="item-principal">
                        <div class="sup-categoria">
                            <span>Pratos</span><span class="right"><a href="#categoria" class="fancybox"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a></span>
                        </div>
                        <ul>
                            <li>
                                <img class="img-item" src="../static/marviin/img/imagem-test-cardapio.jpg" width="100px" height="100px" />
                                <div class="conteudo-info">
                                    <p class="titulo"><strong>File de frango com fritas e farofa</strong></p>
                                    <p class="preco">R$ 14,50</p>
                                    <div class="editar-acompanhamento">
                                        <p class="editar-item-princ"><a class="btn btn-primary fancybox" href="#ItemPrincipal"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>
                                        <a class="btn btn-default" href="javascript:void(0)" class="abre-acompanhamentos"><i class="fa fa-exchange" aria-hidden="true"></i> Sub Item</a></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <img class="img-item" src="../static/marviin/img/macarrao-test.jpg" width="100px" height="100px" />
                                <div class="conteudo-info">
                                    <p class="titulo"><strong>Espaguete com queijo resvalado e mollho rose</strong></p>
                                    <p class="preco">R$ 34,50</p>
                                    <div class="editar-acompanhamento">
                                        <p class="editar-item-princ"><a class="btn btn-primary fancybox" href="#ItemPrincipal"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="item-principal">
                        <div class="sup-categoria">
                            <span>Bebidas</span><span class="right"><a href="#categoria" class="fancybox"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a></span>
                        </div>
                        <ul>
                            <li>
                                <img class="img-item" src="../static/marviin/img/cerveja-gelada.jpg" width="100px" height="100px" />
                                <div class="conteudo-info">
                                    <p class="titulo"><strong>Cerveja</strong></p>
                                    <p class="preco"><span>A partir de</span> R$ 8,90</p>
                                    <div class="editar-acompanhamento">
                                        <p class="editar-item-princ"><a class="btn btn-primary fancybox" href="#ItemPrincipal"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>
                                        <a class="btn btn-default" href="javascript:void(0)" class="abre-acompanhamentos"><i class="fa fa-exchange" aria-hidden="true"></i> Sub Item</a></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <img class="img-item" src="../static/marviin/img/refris.jpg" width="100px" height="100px" />
                                <div class="conteudo-info">
                                    <p class="titulo"><strong>Refrigerante</strong></p>
                                    <p class="preco"></p>
                                    <div class="editar-acompanhamento">
                                        <p class="editar-item-princ"><a class="btn btn-primary fancybox" href="#ItemPrincipal"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>
                                        <a class="btn btn-default" href="javascript:void(0)" class="abre-acompanhamentos"><i class="fa fa-exchange" aria-hidden="true"></i> Sub Item</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="coluna-right">
                <h2><i class="fa fa-list" aria-hidden="true"></i> lista Sub Itens - File de frango com...</h2>
                <div class="conteudo-info">
                    <p class="titulo"><strong>Acompanhamento pagina 1</strong></p>
                    <p class="min-item"><strong>Mínimo de itens:</strong> 0</p>
                    <p class="max-item"><strong>Máximo de itens:</strong> 6</p>
                    <p class="tipo-item"><strong>Tipo:</strong> Escolha unica</p>
                    <div class="editar-acompanhamento">
                        <p class="editar-item-princ"><a class="btn btn-primary fancybox" href="#acompanhamento"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a></p>
                    </div>
                </div>
                <div class="conteudo-info">
                    <p class="titulo"><strong>Acompanhamento pagina 2</strong></p>
                    <p class="min-item"><strong>Mínimo de itens:</strong> 0</p>
                    <p class="max-item"><strong>Máximo de itens:</strong> 6</p>
                    <p class="tipo-item"><strong>Tipo:</strong> Escolha unica</p>
                    <div class="editar-acompanhamento">
                        <p class="editar-item-princ"><a class="btn btn-primary fancybox" href="#acompanhamento"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a></p>
                    </div>
                </div>
                <div class="conteudo-info">
                    <p class="titulo"><strong>Acompanhamento pagina 3</strong></p>
                    <p class="min-item"><strong>Mínimo de itens:</strong> 0</p>
                    <p class="max-item"><strong>Máximo de itens:</strong> 6</p>
                    <p class="tipo-item"><strong>Tipo:</strong> Escolha unica</p>
                    <div class="editar-acompanhamento">
                        <p class="editar-item-princ"><a class="btn btn-primary fancybox" href="#acompanhamento"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmação</h4>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja modificar seu cardápio?</p>
                    <p class="text-warning"><small>Confirmando, seu cardápio será alterado</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" onclick="uploadImages()">Confirmar alteração do cardápio</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Formularios-->
<div id="categoria" style="width:600px;display: none;">
   <h2 class="sub-header"><i class="fa fa-tasks" aria-hidden="true"></i> Categoria</h2>
   <form class="form-horizontal col-md-12"><br><br>
        <div class="form-group">
            <div class="">
                <input type="text" class="form-control" id="nomeCategoria" placeholder="Nome Categoria...">
            </div><br><br>
            <button id="save-menu-fb" type="button" class="btn btn-primary save-card">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Salvar
            </button>
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span> Excluir
            </button>
        </div>
   </form>
</div>
<div id="taxaentrega" style="width:600px;display: none;">
   <h2 class="sub-header"><i class="fa fa-tasks" aria-hidden="true"></i> Taxa de Entrega</h2>
   <form class="form-horizontal col-md-12"><br><br>
        <div class="form-group">
            <div class="">
                <input type="number" class="form-control min-max" id="nomeCategoria" placeholder="Valor taxa de entrega..."><br>
            </div><br><br>
            <button id="save-menu-fb" type="button" class="btn btn-primary save-card">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Salvar
            </button>
            <button type="submit" class="btn btn-default">
               <span class="glyphicon glyphicon-remove"></span> Excluir
            </button>
        </div>
   </form>
</div>
<div id="itemGratis" style="width:600px;display: none;">
   <h2 class="sub-header"><i class="fa fa-tasks" aria-hidden="true"></i> Item gratis</h2>
   <form class="form-horizontal col-md-12"><br><br>
        <div class="form-group">
            <div class="">
                <input type="text" class="form-control" id="nomeCategoria" placeholder="Descricao..."><br>
            </div><br><br>
            <button id="save-menu-fb" type="button" class="btn btn-primary save-card">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Salvar
            </button>
            <button type="submit" class="btn btn-default">
               <span class="glyphicon glyphicon-remove"></span> Excluir
            </button>
        </div>
   </form>
</div>
<div id="ItemPrincipal" style="width:600px;display: none;">
   <h2 class="sub-header"><i class="fa fa-tasks" aria-hidden="true"></i> Item Cardapio</h2>
   <form class="form-horizontal col-md-12"><br><br>
       <div class="form-group">
        <select class="form-control">
            <option>Selecione Categoria</option>
            <option>Pratos</option>
            <option>Bebidas</option>
        </select><br>
        <select class="form-control">
            <option>Selecione o tipo de item</option>
            <option>Simples</option>
            <option>Composto</option>
        </select><br>
        <input type="text" class="form-control" id="nomeCategoria" placeholder="Nome Item..."><br>
        <textarea type="text" class="form-control" id="nomeCategoria" placeholder="Descrição..."></textarea><br>
        <input type="file" class="form-control" id="inputEmail" placeholder="Imagem"><br>
        <input type="number" class="form-control" id="nomeCategoria" placeholder="Preço..."><br>
        <label class="checkbox-inline">
            <input type="checkbox" value="a partir de"> Inserir termo "A partir de" no preço
        </label><br><br>
          <button id="save-menu-fb" type="button" class="btn btn-primary save-card">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Salvar
          </button>
          <button type="submit" class="btn btn-default">
               <span class="glyphicon glyphicon-remove"></span> Excluir
          </button>
      </div>
   </form>
</div>
<div id="acompanhamento" style="width:600px;display: none;">
   <h2 class="sub-header"><i class="fa fa-tasks" aria-hidden="true"></i>Lista Sub Item</h2>
   <form class="form-horizontal col-md-12"><br>
       <div class="form-group">
        <select class="form-control">
            <option>Selecione Categoria</option>
            <option>Pratos</option>
            <option>Bebidas</option>
        </select><br>
        <select class="form-control">
            <option>Selecione Item Cardapio</option>
            <option>File de frango com fritas e farofa</option>
            <option>Espaguete com queijo resvalado e mollho rose</option>
        </select><br>
        <input type="text" class="form-control" id="nomeCategoria" placeholder="Titulo..."><br>
        <textarea class="form-control" id="nomeCategoria" placeholder="Descrição..."></textarea><br>
        <input type="number" class="form-control min-max" id="nomeCategoria" placeholder="Mínimo de itens...">
        <input type="number" class="form-control min-max" id="nomeCategoria" placeholder="Máximo de itens..."><br>
        <select class="form-control">
            <option>Selecione o tipo da lista de acompanhamentos</option>
            <option>Escolha única</option>
            <option>Multiplas escolhas</option>
        </select><br>
        <h3>Itens:</h3><br>
        <div class="lista-itens-acomp">
            <div class="item-acomp">
                <input type='text' class='form-control nome-item' id='nomeCategoria' placeholder='Nome...'>
                <input type='text' class='form-control preco-item' id='nomeCategoria' placeholder='Preço...'>
                <a class='btn btn-danger' id='remove'><i class='fa fa-times' aria-hidden='true'></i> Excluir</a>
            </div>
        </div>
        <a class='btn btn-success' id='add'><i class='fa fa-plus' aria-hidden='true'></i> Adicionar Item</a><br><br><br>
        <button id="save-menu-fb" type="button" class="btn btn-primary save-card">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Salvar
        </button>
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-remove"></span> Excluir
        </button>
      </div>
   </form>
</div>

        <!-- Tela principal pedido-->
         <div  class="cardapio-full" id="card-princ" width="320" style="display:none;">
            <div class="header-cardapio"><label class="nome-tela">Tela Principal</label></div>
            <ul>
                <li>
                    <a href="#item-unico">
                        <img src="../static/marviin/img/pizza2.jpg" width="60px" height="60px" />
                        <div class="content-meio">
                            <p><strong>Pizza de calabrezza</strong></p>
                            <p class="descri">Calabreza, muzzarela, oregano, molho de tomate e azeitona</p>
                        </div>
                        <p class="preco"><span>A partir de</span> R$ 39,90</p>
                    </a>
                </li>
                <li>
                    <a href="#item-unico">
                        <img src="../static/marviin/img/pizza.jpg" width="60px" height="60px" />
                        <div class="content-meio">
                            <p><strong>Pizza Portuguesa</strong></p>
                            <p class="descri">Calabreza, muzzarela, oregano, molho de tomate e azeitona</p>
                        </div>
                        <p class="preco"><span>A partir de</span> R$ 47,90</p>
                    </a>
                </li>
                <li>
                    <a href="#item-unico">
                        <img src="../static/marviin/img/pizza2.jpg" width="60px" height="60px" />
                        <div class="content-meio">
                            <p><strong>Pizza de quatro queijos</strong></p>
                            <p class="descri">Calabreza, muzzarela, oregano, molho de tomate e azeitona</p>
                        </div>
                        <p class="preco"><span>A partir de</span> R$ 35,90</p>
                    </a>
                </li>
                <li>
                    <a href="#item-unico">
                        <img src="../static/marviin/img/pizza.jpg" width="60px" height="60px" />
                        <div class="content-meio">
                            <p><strong>Pizza de napolitana</strong></p>
                            <p class="descri">Calabreza, muzzarela, oregano, molho de tomate e azeitona</p>
                        </div>
                        <p class="preco"><span>A partir de</span> R$ 29,90</p>
                    </a>
                </li>
            </ul>
         </div>

         <!-- Fim Tela principal-->


         <!-- Tela escolha item unico-->

        <div class="cardapio-full" id="item-unico"  width="320" style="display:none;">
            <div class="header-cardapio"><a href=""><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i></a><label class="nome-tela back">Tela lista escolha única</label></div>
            <ul class="lista-unica">
                <li>
                     <div class="check">
                        <label class="radio-inline">
                            <input type="radio" name="genderRadios" value="check">
                        </label>
                    </div>
                    <div class="content-meio">
                        <p><strong>Pizza Gigante</strong></p>
                        <p class="descri"></p>
                    </div>
                    <p class="preco">R$ 39,90</p>
                </li>
                <li>
                     <div class="check">
                        <label class="radio-inline">
                            <input type="radio" name="genderRadios" value="check">
                        </label>
                    </div>
                    <div class="content-meio">
                        <p><strong>Pizza Media</strong></p>
                        <p class="descri">Pizza media de 35cm</p>
                    </div>
                    <p class="preco"> R$ 47,90</p>
                </li>
                <li>
                     <div class="check">
                        <label class="radio-inline">
                            <input type="radio" name="genderRadios" value="check">
                        </label>
                    </div>
                    <div class="content-meio">
                        <p><strong>Pizza Broto</strong></p>
                        <p class="descri">Pizza media de 20cm</p>
                    </div>
                    <p class="preco"> R$ 47,90</p>
                </li>
            </ul>
            <a href="#multiplos-itens" class="btn btn-primary btn-verde fancybox">Próxima</a>
         </div>
         <!--Fim tela escolha item unico-->


         <!-- Tela incluir itens multiplos-->
        <div class="cardapio-full" id="multiplos-itens" width="320" style="display:none;">
            <div class="header-cardapio"><a href=""><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i></a><label class="nome-tela back">Tela lista escolhas multiplas</label></div>
            <ul class="lista-unica lista-add">
                <li>
                    <div class="add-rem">
                        <a href="javascript:void(0)" class="btn-qtd add"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                        <span class="qtd qtd-1"> 0 </span>
                        <a href="javascript:void(0)" class="btn-qtd rem"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
                    </div>
                    <div class="content-meio">
                        <p><strong>Mais Queijo</strong></p>
                        <p class="descri">Duas colheres de oregano</p>
                    </div>
                    <p class="preco">R$ 7,90</p>
                </li>
                <li>
                    <div class="add-rem">
                        <a href="javascript:void(0)" class="btn-qtd add"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                        <span class="qtd qtd-1"> 0 </span>
                        <a href="javascript:void(0)" class="btn-qtd rem"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
                    </div>
                    <div class="content-meio">
                        <p><strong>Mais oregano</strong></p>
                        <p class="descri">Duas colheres de oregano</p>
                    </div>
                    <p class="preco">R$ 3,90</p>
                </li>
                <li>
                    <div class="add-rem">
                        <a href="javascript:void(0)" class="btn-qtd add"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                        <span class="qtd"> 0 </span>
                        <a href="javascript:void(0)" class="btn-qtd rem"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
                    </div>
                    <div class="content-meio">
                        <p><strong>Mais azeitona</strong></p>
                        <p class="descri">Duas colheres de oregano</p>
                    </div>
                    <p class="preco">R$ 3,90</p>
                </li>
                <li>
                    <div class="add-rem">
                        <a href="javascript:void(0)" class="btn-qtd add"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                        <span class="qtd"> 0 </span>
                        <a href="javascript:void(0)" class="btn-qtd rem"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
                    </div>
                    <div class="content-meio">
                        <p><strong>Mais molho</strong></p>
                        <p class="descri">Duas colheres de oregano</p>
                    </div>
                    <p class="preco">R$ 1,90</p>
                </li>
            </ul>
            <a href="#resumo" class="btn btn-primary btn-verde fancybox">Próxima</a>
         </div>

        <!--Fim tela incluir itens multiplos-->

        <!--Tela resumo do pedido-->

        <div class="cardapio-full" id="resumo" width="320" height="450" style="display:none;">
            <div class="resumo-pedido" id="resumo-pedido">
                <div class="header-cardapio"><a href=""><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i></a><label class="nome-tela back">Tela de resumo do pedido</label></div>
                <p class="titulo-resumo"><strong>Pizza de quatro queijos</strong></p>
                <p class="descri">Pizza gigante de quatro queijos com borda de catupiry resvalada no molho de alho verde azul limao.</p>
                <p class="itens-add"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Itens adicionados:</p>
                <ul class="lista-itens-mais">
                    <li>+1 queijo</li>
                    <li>+1 oregano</li>
                    <li>+1 Molho</li>
                </ul>
                <div class="valor-total">
                    <p><strong>Total:</strong> 49,90</p>
                    <div class="add-rem">
                        <a href="javascript:void(0)" class="btn-qtd add"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                        <span class="qtd"> 1 </span>
                        <a href="javascript:void(0)" class="btn-qtd rem"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
                    </div>
                </div>
                <textarea class="obs-pedido" placeholder="Observacoes..."></textarea>
                <div class="btn-encerrar">
                    <a href="#" class="btn btn-primary btn-verde"><i class="fa fa-cart-plus" aria-hidden="true"></i> Pedir Mais Itens</a>
                    <a href="#" class="btn btn-primary btn-verde"><i class="fa fa-check" aria-hidden="true"></i> Enviar Pedido</a>
                </div>
            </div>
         </div>

        <!--fim telas de cardapio -->

<!-- inicio dialogo bot -->
<div id="content-dialog" class="content-dialog"></div>
<div class="bg"></div>

{% endblock %}

{% block scripts %}
    {% include "includes/snippets/chat_jquery_template.html" %}
    {% include "includes/snippets/common_js_pedido.html" %}
    {% include "includes/snippets/notificacoes_cliente.html" %}
    <script type="text/javascript">
      $(document).ready(function($) {
        //Notificacoes ===========
        {% include "includes/snippets/notificacoes_servidor.html" with notificacoes=notificacoes %}
      });

      $(".fancybox").fancybox({
        openEffect	: 'none',
        closeEffect	: 'none'
      });

      $('.btn-qtd').on("click", function(){

        qtdAtual = $(this).parent(".add-rem").find("span").text();

        if($(this).hasClass("add")){

            qtdAtual ++;
            $(this).parent(".add-rem").find("span").text(qtdAtual);

        }else{

            qtdAtual = qtdAtual - 1;
            $(this).parent(".add-rem").find("span").text(qtdAtual);

        }
      });

      $('#add').on("click", function(){
        $('.lista-itens-acomp').append("<div class='item-acomp'><input type='text' class='form-control nome-item' id='nomeCategoria' placeholder='Nome...'><input type='text' class='form-control preco-item' id='nomeCategoria' placeholder='Preço...'><a type='text' class='btn btn-danger' id='remove'><i class='fa fa-times' aria-hidden='true'></i> Excluir</a></div>");
      });

    </script>

{% endblock %}