<!DOCTYPE html>
<html>
    <head>
        <title>Marviin - Cadastro</title>
         <meta charset="utf-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta id="viewport" name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="../static/marviin/css/font-awesome.min.css">
        <link href="../static/marviin/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/marviin/css/style.css" rel="stylesheet">
    </head>
    <body>

        <form class="form-horizontal tela-cadastro">
            <img src="../static/marviin/img/login-g-branco.png" width="106" />
            <label class="titulo-label">Preencha os campos abaixo</label><br>
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="text" class="form-control" id="nome" placeholder="Nome...">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="email" placeholder="Digite seu email..." class="form-control" id="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="text" class="form-control" id="cep" placeholder="CEP...">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="text" class="form-control" id="endereco" placeholder="Endereço...">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="text" class="form-control" id="complemento" placeholder="Complemento...">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="text" class="form-control" id="bairro" placeholder="Bairro...">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="text" class="form-control" id="cidade" placeholder="Cidade...">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="text" class="form-control" id="estado" placeholder="Estado...">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="text" class="form-control" id="telefone" placeholder="Telefone...">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="password" class="form-control" id="Senha" placeholder="Senha...">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="password" class="form-control" id="confirmasenha" placeholder="Confirmar Senha...">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="agree">  Concordo com os <a href="#">Termos e condições de uso</a>.
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="agree">  Aceito receber novidades sobre o Marviin.
                    </label>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-xs-12">
                    <button id="" type="button" class="btn btn-primary save-card">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Enviar
                    </button>
                    <button id="" type="button" class="btn btn-default save-card">
                        <span class="fa fa-times" aria-hidden="true"></span> Cancelar
                    </button>
                </div>
            </div>
        </form>
    </body>
</html>