<!DOCTYPE html>
<html>
    <head>
        <title>Marviin - Erro</title>
         <meta charset="utf-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta id="viewport" name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="../static/marviin/css/font-awesome.min.css">
        <link href="../static/marviin/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/marviin/css/style.css" rel="stylesheet">
    </head>
    <body>
        <section class="tela-erro">
            <img src="../static/marviin/img/login-sistema.png" /><br><br>
            <h5><i class="fa fa-info-circle"></i> Texto erro!</h5><br><br>
            <p class="voltar"><a href="javascript: history.back();"><i class="fa fa-arrow-left"></i> Voltar</a></p>
        </section>
    </body>
</html>