<!DOCTYPE html>
<html>
    <head>
        <title>Marviin - Escolha de endereço</title>
         <meta charset="utf-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta id="viewport" name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="../static/marviin/css/font-awesome.min.css">
        <link href="../static/marviin/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/marviin/css/style.css" rel="stylesheet">

        <script type="text/javascript" src="../static/marviin/js/jquery.min.js"></script>
        <script type="text/javascript" src="../static/marviin/js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="../static/marviin/js/main.js"></script>
        <script type="text/javascript" src="../static/marviin/js/messenger_extensions.js"></script>
        <script type="text/javascript" src="../static/marviin/js/custom_endereco.js"></script>
    </head>
    <body>
        <section id="endereco-page">
            <label>Escolha abaixo o endereço de entrega</label>
                <form action="" method="post" id="form-endereco">
                    <div class="lista-enderecos">
                    </div>
                </form>
            <a href="/fb_cad_endereco" class="btn btn-default adicionar-endereco">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar Endereço
            </a>
            <button type="submit" id="btn-escolher-endereco" class="btn btn-primary btn-verde btn-border-white none">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Escolher
            </button>
        </section>
        <div class="loading-marviin block"></div>
    </body>
</html>