<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="viewport" name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Marviin - Inovacao em atendimento</title>

    <link href="../static/marviin/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylsheet" href="../static/marviin/css/jquery-ui.css" />
    <link href="../static/marviin/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/marviin/css/font-awesome.min.css" />

    <script src="../static/marviin/js/jquery.min.js"></script>
    <script src="../static/marviin/js/bootstrap.min.js"></script>
    <script src="../static/marviin/js/jquery-ui.js"></script>

    <script type="text/javascript" src="../../static/marviin/js/main.js"></script>

    <script>
      $( function() {
            var availableTags = [
              "Toca da traira",
              "Faenza",
              "Bar do Adao",
              "Bar Belmonte - Urca",
              "Bar Belmonte - Flamengo",
              "Bar Belmonte - Centro",
              "Tosaka",
              "Benkei - Barrashopping",
              "Benkei - Metropolitano",
              "Benkei - Rio 2"
            ];

            $( "#campoEstabelecimento" ).autocomplete({
                source: availableTags
            });
       } );
     </script>
  </head>
  <body>
    <section class="main-lista-estabelecimentos">

          <input type="text" name="campoEstabelecimento" id="campoEstabelecimento" placeholder="Digite o aqui o nome estabelecimento" />

    </section>
  </body>
</html>