{% extends "includes/layout.html" %}

{% block  pedidos %}active{% endblock %}

{% block conteudo %}

{% load pedido_tags %}

<div class="container">
  <div class="page-header">
    <h1><i class="fa fa-list"></i> Pedidos</h1>
  </div>
    <form action="/pedidos/" method="post" id="form-filtros-pedido">
    {% csrf_token %}
    <div class="filtros-pedidos">
      <div class="col-md-6">
            <h4><i class="fa fa-filter"></i> Filtrar pedidos</h4><br>
            <div class="form-group">

              <div class="col-md-6">
                <input type="text" name="nome_cliente_filtro" id="campo-nome" placeholder="Cliente..." class="field-filter form-control" value="{% if filtros.nome_cliente_filtro %}{{filtros.nome_cliente_filtro}}{% endif %}"><br>
              </div>
              <div class="col-md-6">
                <input type="text" name="num_pedido_filtro" id="campo-pedido" placeholder="Número Pedido..." class="field-filter form-control" value="{% if filtros.num_pedido_filtro %}{{filtros.num_pedido_filtro}}{% endif %}"><br>
              </div>
              <div class="col-md-12">
                  <button type="button" id="outros_btn_filtro" class="btn btn-primary btn-verde" onclick="$('#outros_btn_filtro').replaceWith($('<img src=\'/static/marviin/img/loading.gif\'></img>'));$('#form-filtros-pedido').submit();">
                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filtrar
                  </button>
                  <button type="button" id="btn_limpar" class="btn btn-primary btn-verde">
                    <span class="glyphicon glyphicon-erase" aria-hidden="true"></span> Limpar campos
                  </button>
              </div>
            </div>
      </div>
    </div>
    </form>
    <h4 class="font22"><i class="fa fa-calendar-times-o"></i> Pedidos das ultimas 24 horas:</h4><br>
    <div class="around">
    <div class="dnd">
        <div class="linha-btn">
            <select class="form-control status-combo" id="sel1">
              <option value="status" selected="selected">Todos os Status</option>
              <option value="solicitado">Solicitado</option>
              <option value="em-processo">Em processo</option>
              <option value="concluido">Concluído</option>
              <option value="entregue">Entregue</option>
              <option value="cancelado">Cancelado</option>
            </select>
            <button type="button" class="btn btn-default btn-expandir-tela" aria-label="Left Align">
              <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span> <strong>Expandir tela</strong>
            </button>
            <button type="button" class="btn btn-default btn-restaurar" aria-label="Left Align" style="display: none">
              <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> <strong>Restaurar colunas</strong>
            </button>

        </div>
      <!--Coluna de pedidos solicitados-->

      <div class="coluna">
        <h3 class="info">
          <label class="status-label text-laranja"><i class="fa fa-hand-paper-o fa-2x"></i> <span>Solicitado</span></label>
          <label class="expandi"><i class="fa fa-ellipsis-v"></i></label>
        </h3>
        <ul id="solicitado" class="droptrue">
            {% include "includes/snippets/cards_pedido.html" with pedidos=solicitado %}
        </ul>
      </div>
      <div class="coluna">
        <h3 class="info">
          <label class="status-label text-azul"><i class="fa fa-hand-grab-o fa-2x"></i> <span>Em processo</span></label>
          <label class="expandi"><i class="fa fa-ellipsis-v"></i></label>
        </h3>
        <ul id="em-processo" class="droptrue">
            {% include "includes/snippets/cards_pedido.html" with pedidos=em_processamento %}
        </ul>
      </div>
      <div class="coluna">
        <h3 class="info">
          <label class="status-label text-verde"><i class="fa fa-hand-pointer-o fa-2x "></i> <span>Concluído</span></label>
          <label class="expandi"><i class="fa fa-ellipsis-v"></i></label>
        </h3>
        <ul id="concluido" class="droptrue">
            {% include "includes/snippets/cards_pedido.html" with pedidos=concluido %}
        </ul>
      </div>
      <div class="coluna">
        <h3 class="info">
          <label class="status-label text-verde"><i class="fa fa-thumbs-o-up fa-2x "></i> <span>Entregue</span></label>
          <label class="expandi"><i class="fa fa-ellipsis-v"></i></label>
        </h3>
        <ul id="entregue" class="droptrue">
            {% include "includes/snippets/cards_pedido.html" with pedidos=entregue %}
        </ul>
      </div>
      <div class="coluna">
        <h3 class="info">
          <label class="status-label text-red"><i class="fa fa-thumbs-o-down fa-2x"></i> <span>Cancelado</span></label>
          <label class="expandi"><i class="fa fa-ellipsis-v"></i></label>
        </h3>
        <ul id="cancelado" class="droptrue">
            {% include "includes/snippets/cards_pedido.html" with pedidos=cancelado %}
        </ul>
      </div>
    </div>
  </div>
</div>
  <div class="bg"></div>
<br><br>
{% endblock %}

{% block scripts %}

<script id="template-pedido" type="text/x-jquery-tmpl">
{% verbatim %}
  <li class="ui-state-default">
    <div class="header-pedido" data-uid="{{= card_uid }}">
      <div class="cabecalho">
        <img class="media-object img-circle" src="{{if typeof foto_cliente != 'undefined'}}{{= foto_cliente}}{{else}}../../static/marviin/img/default_user.png{{/if}}" width="40" height="40" alt="">
        <p>{{= nome_cliente}}<br> <span class="ultimo">Pedido feito há <span class="{{= card_uid}}" data-minutes-passed="0">0 minutos</span></span></p>
      </div>
    </div>
    <div class="conteudo-pedido lista-pedidos-tela">
      <div class="detalhe-conteudo">
        <div><label class="status-label"><strong><i class="fa fa-barcode"></i> Pedido:</strong> {{= card_uid }}</label></div>
        <div><label class="status-label mesa"><strong><i class="fa fa-tag"></i> Mesa:</strong> <span class="{{= card_uid }}_mesa">{{= mesa }}</span></label></div>
        <div class="{{if origem == 'fbmessenger'}}messeger {{/if}}detalhe-pedido-icon">
          <label class="interacao status-label">
            <strong><i class="fa fa-desktop"></i> Interação:</strong>
            <i class="logo open-dialogo {{= card_uid }}_dialogo" data-uid="{{= card_uid }}"></i>
            <i class="fa fa-wpforms open-lista-pedidos"></i>
          </label>

          <!-- Lista de pedidos-->
          <div class="lista-pedidos">
            <a href="javascript:void(0);" class="close">X</a>
            <div class="bs-example">
                <div class="list-group">
                    <a href="javascript:void(0);" class="list-group-item">
                       <div class="cabecalho">
                            <img class="media-object img-circle" src="{{if typeof foto_cliente != 'undefined'}}{{= foto_cliente}}{{else}}../../static/marviin/img/default_user.png{{/if}}" width="40" height="40" alt="" >
                            <p class="tempo-minuto">{{= nome_cliente}}<br> <span class="ultimo">Pedido feito há <span class="{{= card_uid}}" data-minutes-passed="0">0 minutos</span></span></p>
                       </div>
                    </a>
                    <a href="javascript:void(0);" class="list-group-item mesa-item">
                        <div>
                            <label class="status-label mesa-detalhe">
                                <strong><i class="fa fa-tag"></i> Mesa:</strong>
                                <span class="{{= card_uid }}_mesa">{{= mesa }}</span>
                            </label>
                        </div>
                    </a>
                    <a href="javascript:void(0);" class="list-group-item border-4 detalhes-itens mesa-item">
                        <label class="status-label">
                            <strong><i class="fa fa-desktop"></i> Interação:</strong>
                            <i class="logo open-dialogo {{= card_uid }}_dialogo" data-uid="{{= card_uid }}"></i>
                            <i class="fa fa-wpforms open-lista-pedidos"></i>
                        </label>
                        <span class="border">border</span>
                    </a>
                    {{each itens_pedido}}
                    <!-- Item pedido-->
                    <a href="javascript:void(0);" class="list-group-item">
                        {{= quantidade}} {{= descricao}}
                    </a>
                    <!--Fim item-->
                    {{/each}}
                    <a href="javascript:void(0);" class="list-group-item">
                       <div class="status-list status-list-detalhe">
                        <label class="solicitado" class="ativo"><input type="radio" name="solicitado" data-uid="{{= card_uid }}"/>
                            <i class="fa fa-hand-paper-o"></i> <span class="status-mini">Solicitado</span>
                        </label>
                        <label class="em-processo"><input type="radio" name="em-processo" data-uid="{{= card_uid }}"/>
                            <i class="fa fa-hand-grab-o"></i><span class="status-mini">Em processo</span>
                        </label>
                        <label class="concluido"><input type="radio" name="concluido" data-uid="{{= card_uid }}"/>
                            <i class="fa fa-hand-pointer-o"></i><span class="status-mini">Concluido</span>
                        </label>
                        <label class="entregue"><input type="radio" name="entregue" data-uid="{{= card_uid }}"/>
                            <i class="fa fa-thumbs-o-up"></i><span class="status-mini">Entregue</span>
                        </label>
                        <label class="cancelado"><input type="radio" name="cancelado" data-uid="{{= card_uid }}"/>
                            <i class="fa fa-thumbs-o-down"></i><span class="status-mini">Cancelado</span>
                        </label>
                      </div>
                    </a>
                </div>
            </div>
          </div>
          <!-- inicio dialogo bot -->
         <div class="content-dialog">
          <div class="dialogo {{if origem == 'fbmessenger'}}messeger {{/if}}">
            <a href="javascript:void(0);" class="close">X</a>
            <div class="cabecalho-chat">
              <p>{{= nome_cliente}}<br> <span class="ultimo">Pedido feito há <span class="{{= card_uid}}" data-minutes-passed="0">0 minutos</span></span></p>
            </div>
            <ul id="{{= card_uid }}_messages">
            {{each mensagem}}
             {{if typeof cliente != 'undefined'}}
              <li class="cons">
                  <img class="media-object img-circle" src="{{if typeof $data.foto_cliente != 'undefined'}}{{= $data.foto_cliente}}{{else}}../../static/marviin/img/default_user.png{{/if}}" width="40" height="40" alt="">
                  <div class="balao">
                    <h4 class="media-heading"> {{= $data.nome_cliente}}</h4>
                    <p>{{= cliente}}</p>
                  </div>
              </li>
             {{else typeof bot != 'undefined'}}
              <li class="est">
                  <div class="balao">
                    <h4 class="media-heading"> {{ request.session.nome_loja }}</h4>
                    <p>{{= bot}}</p>
                  </div>
              </li>
             {{/if}}
            {{/each}}
            </ul>
            <div class="box-teclado">
              <label>
                <input type="text" placeholder="Mensagem..." name="texto">
              </label>
              <i class="btn-send" id="{{= card_uid }}_btn-send" data-uid="{{= card_uid }}">Enviar</i>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
    <div class="footer-pedido">
      <div class="status-list status-list-detalhe-del">
        <label class="solicitado" class="ativo"><input type="radio" name="solicitado" data-uid="{{= card_uid }}"/>
            <i class="fa fa-hand-paper-o"></i>
        </label>
        <label class="em-processo"><input type="radio" name="em-processo" data-uid="{{= card_uid }}"/>
            <i class="fa fa-hand-grab-o"></i>
        </label>
        <label class="concluido"><input type="radio" name="concluido" data-uid="{{= card_uid }}"/>
            <i class="fa fa-hand-pointer-o"></i>
        </label>
        <label class="entregue"><input type="radio" name="entregue" data-uid="{{= card_uid }}"/>
            <i class="fa fa-thumbs-o-up"></i>
        </label>
        <label class="cancelado"><input type="radio" name="cancelado" data-uid="{{= card_uid }}"/>
            <i class="fa fa-thumbs-o-down"></i>
        </label>
      </div>
    </div>
  </li>
{% endverbatim %}
 </script>
 <script id="template-message" type="text/x-jquery-tmpl">
{% verbatim %}
         {{if typeof cliente != 'undefined'}}
          <li class="cons">
              <img class="media-object img-circle" src="{{if typeof foto_cliente != 'undefined'}}{{= foto_cliente}}{{else}}../../static/marviin/img/default_user.png{{/if}}" width="40" height="40" alt="">
              <div class="balao">
                <h4 class="media-heading"> {{= nome_cliente}}</h4>
                <p>{{= cliente}}</p>
              </div>
          </li>
         {{else typeof bot != 'undefined'}}
          <li class="est">
              <div class="balao">
                <h4 class="media-heading"> {{ request.session.nome_loja }}</h4>
                <p>{{= bot}}</p>
              </div>
          </li>
         {{/if}}
{% endverbatim %}
 </script>

<script type="text/javascript">
  var pedidos_interval = {};
  function startInterval(card_uid) {
    var intervalId = setInterval(function() {
        minutesPassed = parseInt($('.' + card_uid).attr('data-minutes-passed'));
        minutesPassed += 1;
        $('.' + card_uid).attr('data-minutes-passed', minutesPassed);
        $('.' + card_uid).html(minutesPassed + ' minuto' + (minutesPassed > 1 ? 's' : ''));
    }, 60000);
    pedidos_interval[card_uid] = intervalId;
  }
  function sendMessageBindClick(card_uid) {
    $("#" + card_uid + "_btn-send").click(function(){
      var $this = $(this);
      $this.hide();
      $.post('/marviin/api/rest/mensagem',
             {uid: $(this).attr("data-uid"), message: $(this).parent().find("input").val()},
             function(data) {
        console.log(data);
        $.tmpl($('#template-message'), {bot: $this.parent().find("input").val()}).appendTo($('#' + $this.attr("data-uid") + '_messages'));
        $this.parent().find("input").val('');
        var objDiv = document.getElementById($this.attr("data-uid") + '_messages');
        objDiv.scrollTop = objDiv.scrollHeight;
      })
      .fail(function(data) {
        if (data.status === 403)
        {
            alert('Sessão inválida. Realize o login novamente.');
            window.location.href = '/?next='+window.location.pathname;
        }
        else if (data.status === 500)
        {
            $.tmpl($('#template-message'), {bot: data.responseJSON.message}).appendTo($('#' + $this.attr("data-uid") + '_messages'));
            $this.parent().find("input").val('');
            var objDiv = document.getElementById($this.attr("data-uid") + '_messages');
            objDiv.scrollTop = objDiv.scrollHeight;
        }
      })
      .always(function () {
        $this.show();
      });
    });
  }
  function mudaStatus(uid, status)
  {
      $.post('/marviin/api/rest/status',
           {uid: uid, status: status},
           function(data) {
      console.log(data);
      if (data.stop && pedidos_interval[data.uid] !== undefined)
      {
        clearInterval(pedidos_interval[data.uid]);
        delete pedidos_interval[data.uid];
      } else if (data.start && pedidos_interval[data.uid] === undefined)
      {
        startInterval(data.uid);
      }
    })
    .fail(function(data) {
      if (data.status === 403)
      {
        alert('Sessão inválida. Realize o login novamente.');
        window.location.href = '/?next='+window.location.pathname;
      }
    });
  }
  $(document).ready(function($) {
    //drag and drop pedidos
    $( "ul.droptrue" ).sortable({
      connectWith: "ul",
      items: "> li",
      placeholder: "sortable-placeholder",
      revert: 200,
      tolerance: "pointer",
      handle: ".header-pedido p",
      receive: function( event, ui ) {
        // evento do momento em que o box e "solto" na coluna de destino
        mudaStatus($(ui.item).children(':first-child').attr("data-uid"), $(event.target).attr('id'));
      }
    });

    // Datepicker
    $('#pedido-de').datepicker({
        dateFormat: 'dd/mm/yy'
    });

    // Seta altura do background quando a janela do dialogo é exibida
    $(".bg").height($(document).height());

    // Botão fechar box
    $('.coluna').on('click', '.close, .bg', function() {
      $(this).parent('.dialogo, .lista-pedidos').hide();
      $('.bg').hide();
    });

    // Abrir dialogo
    $('.coluna').on('click', '.open-dialogo', function() {
        $(this).parent('.status-label').parent(".detalhe-pedido-icon").find('div.dialogo').show();
        var objDiv = document.getElementById($(this).attr('data-uid') + '_messages');
        objDiv.scrollTop = objDiv.scrollHeight;
        $('.bg').show();
    });

    // Abrir dialogo de dentro da lista de pedidos
    $('.coluna').on('click', '.lista-pedidos .open-dialogo', function() {
        $('.lista-pedidos').hide();
        $(this).closest(".detalhe-pedido-icon").find('div.dialogo').show();
        var objDiv = document.getElementById($(this).attr('data-uid') + '_messages');
        objDiv.scrollTop = objDiv.scrollHeight;
    });

    // Abrir lista de pedidos
    $('.coluna').on('click', '.open-lista-pedidos', function() {
        $(this).parent('.status-label').parent(".detalhe-pedido-icon").find("div.lista-pedidos").show();
        $(".bg").show();
    });

    // Troca de colunas no clique dos botoes de status
    $('.coluna').on('click', '.status-list-detalhe-del label', function() {
      $(this).parent(".status-list").find("input").prop("checked", false);
      $(this).find("input").prop("checked", true);

      //clona e copia o box com o pedido para a coluna do status escolhido
      $destino = $(this).attr("class");
      $(this).closest('li').hide("300");
      $('#' + $destino).append("<li class='ui-state-default ui-sortable-handle'>" + $(this).closest('li').html() + "</li>");
      $(this).closest('li').remove();
      sendMessageBindClick($(this).find("input").attr("data-uid"));
      mudaStatus($(this).find("input").attr("data-uid"), $(this).find("input").attr("name"));
    });

    // Troca de colunas no clique dos botoes de status dentro da lista de itens
    $('.coluna').on('click', '.status-list-detalhe label', function() {
      $("div.lista-pedidos").hide();
      $(".bg").hide();
      $(this).parent(".status-list").find("input").prop("checked", false);
      $(this).find("input").prop("checked", true);

      //clona e copia o box com o pedido para a coluna do status escolhido
      $destino = $(this).attr("class");
      $(this).closest('li').hide("300");
      $('#' + $destino).append("<li class='ui-state-default ui-sortable-handle'>" + $(this).closest('li').html() + "</li>");
      $(this).closest('li').remove();
      sendMessageBindClick($(this).find("input").attr("data-uid"));
      mudaStatus($(this).find("input").attr("data-uid"), $(this).find("input").attr("name"));
    });

    //efeito para expandir colunas
    $('.expandi').click(function(){
        //inserir span no titulo coluna
        //inserir btn para restaurar as colunas
        $(".btn-restaurar").show(600);
        $('i.fa-ellipsis-h').removeClass('fa-ellipsis-h').addClass('fa-ellipsis-v');
        $('.coluna').addClass('coluna-normal');
        $('.coluna').removeClass('col-active');
        $(this).parent('.info').parent('.coluna').removeClass('coluna-normal');
        $(this).parent('.info').parent('.coluna').addClass('col-active');
        $(this).find('.fa').removeClass('fa-ellipsis-v').addClass('fa-ellipsis-h');

        $('.coluna-normal').animate({
          width: "5%"
        }, 1500 );

        $('.col-active').animate({
          width: "75%"
        }, 1500 );

    });

    //Botao restaurar as colunas
    $('.btn-restaurar').click(function(){
        $(".btn-restaurar").hide(600);
        $(".coluna").show();
        $('.coluna').removeClass('col-active');
        $('.coluna').removeClass('coluna-normal');
        $('i.fa-ellipsis-h').removeClass('fa-ellipsis-h').addClass('fa-ellipsis-v');
        $('.coluna').animate({
          width: "19.2%"
        }, 1500 );
    });

    // Botao limpar
    $('#btn_limpar').click(function(){
        $('#campo-nome, #campo-pedido').val('');
    });

    //Expandir area das colunas
    $(".btn-expandir-tela").click(function(){
        if($(this).find("span").hasClass("glyphicon-resize-full")){
            $(this).find("span").removeClass("glyphicon-resize-full").addClass("glyphicon-resize-small");
            $(this).find("strong").text("Diminuir tela");
            $(".dnd").addClass("todo");
            $(".dnd").animate({
              left: 0,
              top: 0
            }, 1500 );
        }else{
            $(".dnd").removeClass("todo");
            $(this).find("span").removeClass("glyphicon-resize-small").addClass("glyphicon-resize-full");
            $(this).find("strong").text("Expandir tela");
        }
    });

    //select status
    $(".status-combo").change(function(){
        id = $(this).find("option:selected").val();
        $(".coluna").removeClass("coluna-normal");
        if (id == "status"){
            $(".coluna").show("slow");
            $(".coluna").animate({
              width: "19.2%"
            }, 1500 );
        }else{
            $(".coluna").hide("slow");
            $("#" + id).parent(".coluna").show("slow");
            $("#" + id).parent(".coluna").animate({
              width: "100%"
            }, 1500 );
        }
    });

    var ws4redis = WS4Redis({
        uri: '{{ WEBSOCKET_URI }}{{ request.session.id_loja }}?subscribe-broadcast',
        receive_message: receiveMessage,
        heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
    });

    // attach this function to an event handler on your site
    function sendMessage() {
        ws4redis.send_message('A message');
    }

    // receive a message though the websocket from the server
    function receiveMessage(msg) {
        console.log('Message from Websocket: ' + msg);
        var input = JSON.parse(msg);
        console.log(input);
        if(input.origem === 'chat')
        {
            $.tmpl($('#template-message'), input).appendTo($('#' + input.uid + '_messages'));
            var objDiv = document.getElementById(input.uid + '_messages');
            objDiv.scrollTop = objDiv.scrollHeight;
            var notifyText = '<strong>'+input.nome_cliente+'</strong><br /> enviou uma mensagem';
            var notifyImage = '../../static/marviin/img/default_user.png';
            if (input.foto_cliente)
            {
                notifyImage = input.foto_cliente;
            }
            notify('marviin', input.origem, notifyText, notifyImage, input.uid, input.notificacao_uuid);
        }
        else if(input.origem === 'troca_mesa')
        {
            $.each(input.pedidos, function(i, pedido)
                {
                    $('.' + pedido.uid + '_mesa').html(pedido.mesa);
                }
            );
            $.each(input.notificacoes, function(i, notificacao)
                {
                    $('.' + notificacao.notificacao_uuid + '_notificacao_mesa').html('mesa '+input.mesa);
                }
            );
            if (input.mesa_anterior !== undefined)
            {
                var notifyText = '<strong>'+input.nome_cliente+'</strong><br /> trocou da mesa '+input.mesa_anterior+' para '+input.mesa;
                var notifyImage = '../../static/marviin/img/default_user.png';
                if (input.foto_cliente)
                {
                    notifyImage = input.foto_cliente;
                }
                notify('marviin', input.origem, notifyText, notifyImage, undefined, input.notificacao_uuid);
            }
        }
        else if(input.origem === 'cardapio')
        {
            var notifyText = '<strong>'+input.nome_cliente+'</strong> da <strong class="'+input.notificacao_uuid+'_notificacao_mesa">mesa '+input.mesa+'</strong><br /> solicitou o cardápio';
            var notifyImage = '../../static/marviin/img/default_user.png';
            if (input.foto_cliente)
            {
                notifyImage = input.foto_cliente;
            }
            notify('marviin', input.origem, notifyText, notifyImage, undefined, input.notificacao_uuid);
        }
        else if(input.origem === 'conta')
        {
            var notifyText = '<strong>'+input.nome_cliente+'</strong> da <strong class="'+input.notificacao_uuid+'_notificacao_mesa">mesa '+input.mesa+'</strong><br /> pediu a conta';
            var notifyImage = '../../static/marviin/img/default_user.png';
            if (input.foto_cliente)
            {
                notifyImage = input.foto_cliente;
            }
            notify('marviin', input.origem, notifyText, notifyImage, undefined, input.notificacao_uuid);
        }
        else if(input.origem === 'garcom')
        {
            var notifyText = '<strong>'+input.nome_cliente+'</strong> da <strong class="'+input.notificacao_uuid+'_notificacao_mesa">mesa '+input.mesa+'</strong><br /> chamou o garçom';
            var notifyImage = '../../static/marviin/img/default_user.png';
            if (input.foto_cliente)
            {
                notifyImage = input.foto_cliente;
            }
            notify('marviin', input.origem, notifyText, notifyImage, undefined, input.notificacao_uuid);
        }
        else if(input.origem === 'fbmessenger')
        {
            $.tmpl($('#template-pedido'), input).appendTo($('#solicitado'));
            sendMessageBindClick(input.card_uid);
            startInterval(input.card_uid);
            var notifyText = '<strong>'+input.nome_cliente+'</strong> da <strong class="'+input.notificacao_uuid+'_notificacao_mesa">mesa '+input.mesa+'</strong><br /> fez um novo pedido';
            var notifyImage = '../../static/marviin/img/default_user.png';
            if (input.foto_cliente)
            {
                notifyImage = input.foto_cliente;
            }
            notify('marviin', input.origem, notifyText, notifyImage, undefined, input.notificacao_uuid);
        }
    }

  });
</script>

<script type="text/javascript">
    //Notificacao
    $.notify.addStyle("marviin", {
        html:
            "<div>" +
                "<span data-notify-html='notifyUUID' />" +
                "<span data-notify-html='uidchat' />" +
                "<time data-notify-html='time' />" +
                "<div class='image' data-notify-html='image'/>" +
                "<div class='text-wrapper'>" +
                    "<div class='text' data-notify-html='text'/>" +
                "</div>" +
                "<span class='icon-push'></span>" +
            "</div>"
    });
    function notify(style, className, notifyText, notifyImage, uidchat, notifyUUID, notifyTime) {
        if (!notifyTime)
        {
            notifyTime = new Date();
            var horas = notifyTime.getHours()+'';
            if (horas.length === 1)
                horas = '0'+horas;
            var minutos = notifyTime.getMinutes()+'';
            if (minutos.length === 1)
                minutos = '0'+minutos;
            notifyTime = horas+':'+minutos;
        }
        var notifyParams = {
            text: notifyText,
            image: "<img class='img-circle' width='40px' src='"+notifyImage+"'/>",
            time: notifyTime
        };
        if (uidchat)
        {
            notifyParams.uidchat = $('<input type="hidden" name="uidchat" value="'+uidchat+'" />');
        }
        notifyParams.notifyUUID = $('<input type="hidden" name="notifyUUID" value="'+notifyUUID+'" />');
        $.notify(notifyParams, {
            style: style,
            className: className,
            autoHide: false,
            autoHideDelay: 9000,
            clickToHide: true,
            order: 'fifo'
        });

    }
    $(function() {
		$(document).on("notify-hide", ".notifyjs-wrapper", function(e) {
			var notifyUUID = $(this).find('input[name="notifyUUID"]');
			if (notifyUUID[0])
			{
              $.post('/marviin/api/rest/notificacao_lida',
                     {notificacao_uuid: notifyUUID.val()},
                     function(data) {
                       console.log(data);
                     }
              )
              .fail(function(data) {
                if (data.status === 403)
                {
                    alert('Sessão inválida. Realize o login novamente.');
                    window.location.href = '/?next='+window.location.pathname;
                }
              });
			}
			var uidInput = $(this).find('input[name="uidchat"]');
			if (uidInput[0])
			{
			    var uid = uidInput.val();
			    $('.'+uid+'_dialogo').parent('.status-label').parent(".detalhe-pedido-icon").find('div.dialogo').show();
                $('.bg').show();
                var objDiv = document.getElementById(uid + '_messages');
                objDiv.scrollTop = objDiv.scrollHeight;
			}
		});
		{% include "includes/snippets/notificacoes_servidor.html" with notificacoes=notificacoes %}
	});
</script>

{% endblock %}