{% extends "includes/layout.html" %}

{% block  relacionamento %}active{% endblock %}

{% block conteudo %}

<div class="container relacionamento">
  <div class="page-header">
    <h1><i class="fa fa-list"></i> Relacionamento com os Clientes</h1>
  </div>
    <div class="texto-intro">
      <div class="circulo">
        <span class="fa fa-comments-o" aria-hidden="true"></span>
      </div>
      <label>Crie um relacionamento forte e duradouro com seus clientes. Envie mensagens com promoções e cortesias. Você pode cadastrar até duas mensagens.<br><br></label>
    </div>
    <div class="filtros-pedidos">
        <div class="form-group col-md-6 msg-1">
         <form action="/pedidos/" method="get" class="form-msg-1" onsubmit="$('#data_hora_btn_filtro').replaceWith($('<img src=\'/static/marviin/img/loading.gif\'></img>'))">
          <div class="col-md-12">
            <h4 class="font17">Primeira mensagem (Selecione abaixo o tipo):</h4>
              <label class="sel-msg sel-msg-1"><br><br>
                  <a href="javascript:void(0)"><i class="fa fa-file-text btn-txt-1"></i> Texto</a>
                  <a href="javascript:void(0)"><i class="fa fa-camera btn-file-1"></i> Imagem</a>
              </label>

          </div>
            <br>
            <div class="div-input-1">
                <input id="file-msg-1" name="msg-cliente-1" type="file" multiple>
            </div>

          <div class="col-md-12">
              <textarea type="text" value="" placeholder="Digite aqui a mensagem..." class="form-control msg-users tmsg-1"></textarea>
          </div>

          <div class="col-md-12 btn-msg-1"><br><br>
              <button id="data_hora_btn_filtro" type="submit" class="btn btn-primary btn-verde">
                  <i class="fa fa-paper-plane"></i> Gravar mensagem 1
                </button><br>
          </div>
         </form>
      </div>
      <div class="form-group col-md-6 msg-2">
         <form action="/pedidos/" method="get" class="form-msg-1" onsubmit="$('#data_hora_btn_filtro').replaceWith($('<img src=\'/static/marviin/img/loading.gif\'></img>'))">

          <div class="col-md-12">
            <h4 class="font17">Segunda mensagem (Selecione abaixo o tipo):</h4>
              <label class="sel-msg sel-msg-2"><br><br>
                  <a href="javascript:void(0)"><i class="fa fa-file-text btn-txt-2"></i> Texto</a>
                  <a href="javascript:void(0)"><i class="fa fa-camera btn-file-2"></i> Imagem</a>
              </label>
          </div>

          <div class="div-input-2">
            <input id="file-msg-2" name="msg-cliente-2" type="file" multiple>
          </div>
          <div class="col-md-12">
              <textarea type="text" value="" placeholder="Digite aqui a mensagem..." class="form-control msg-users tmsg-2"></textarea>
          </div>

          <div class="col-md-12 btn-msg-2"><br>
              <button id="data_hora_btn_filtro" type="submit" class="btn btn-primary btn-verde">
                  <i class="fa fa-paper-plane"></i> Gravar mensagem 2
                </button><br>
          </div>
         </form>
      </div>
    </div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
  $(document).ready(function($) {
    $('#file-msg-1, #file-msg-2').fileinput({
          language: 'pt-BR',
          uploadUrl: '#',
          allowedFileExtensions : ['jpg', 'png','gif'],
       });

    $(".sel-msg-1 a").click(function(){
        if($(this).find("i").hasClass("btn-txt-1")){
            $(".div-input-1").hide();
            $(".btn-msg-1, .tmsg-1").show("slow")

        }else{
            $(".tmsg-1").hide();
            $(".div-input-1, .btn-msg-1").show("slow")
        }
    });

    $(".sel-msg-2 a").click(function(){
        if($(this).find("i").hasClass("btn-txt-2")){
            $(".div-input-2").hide();
            $(".btn-msg-2, .tmsg-2").show("slow")

        }else{
            $(".tmsg-2").hide();
            $(".div-input-2, .btn-msg-2").show("slow")
        }
    });

  });
</script>

{% endblock %}