{% extends "includes/layout.html" %}

{% block  historico %}active{% endblock %}

{% block conteudo %}
{% load pedido_tags %}

<div class="container hist">
  <div class="page-header">
    <h1><i class="fa fa-calendar-o"></i> Histórico de Pedidos</h1>
  </div>
  <form action="/historico/" method="post" id="form-filtros-pedido">
    {% csrf_token %}
    <input type="hidden" name="pagina" id="pagina" />
    <div class="filtros-pedidos">
      <div class="col-md-9">
            <h4><i class="fa fa-filter"></i> Filtrar pedidos</h4><br>
            <div class="form-group">

              <div class="col-md-3">
                <input type="text" name="nome_cliente_filtro" id="campo-nome" placeholder="Cliente..." class="field-filter form-control" value="{% if filtros.nome_cliente_filtro %}{{filtros.nome_cliente_filtro}}{% endif %}"><br>
              </div>
              <div class="col-md-3">
                <input type="text" name="num_pedido_filtro" id="campo-pedido" placeholder="Número Pedido..." class="field-filter form-control" value="{% if filtros.num_pedido_filtro %}{{filtros.num_pedido_filtro}}{% endif %}">
              </div>
              <div class="col-md-3">
                <input type="text" name="" id="data-pedido" placeholder="Data do pedido..." class="field-filter form-control" value=""><br>
              </div>
              <div class="col-md-12">
                  <button type="button" id="outros_btn_filtro" class="btn btn-primary btn-verde" onclick="$('#outros_btn_filtro').replaceWith($('<img src=\'/static/bipy3/img/loading.gif\'></img>'));$('#form-filtros-pedido').submit();">
                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filtrar
                  </button>
                  <button type="button" id="btn_limpar" class="btn btn-primary btn-verde">
                    <span class="glyphicon glyphicon-erase" aria-hidden="true"></span> Limpar campos
                  </button>
              </div>
            </div>
        </div>
    </div>
  </form>
    {% if pedidos %}
    <span class="current">
        Página {{ pedidos.number }} de {{ pedidos.paginator.num_pages }}
    </span>
    {% endif %}
    <div class="infos">
       <label class="status-label"><i class="fa fa-tags"></i> Status</label>
       <label class="data"><i class="fa fa-calendar"></i> Data</label>
       <label class="hora"><i class="fa fa-tachometer"></i> Hora</label>
       <label class="cliente"><i class="fa fa-user-md"></i> Cliente</label>
       <label class="pedido-title"><i class="fa fa-map"></i> Pedido</label>
       <label class="origem"><i class="fa fa-globe"></i> Origem</label>
    </div>
    <div class="pedidos pizzaria">
      <div id="accordion">
        {% for pedido in pedidos %}
          {% pedido_uid pedido.data pedido.numero as card_uid %}
          <!-- Início pedido-->

          <!-- Informações-->
          <h3 class="info">
             {% if pedido.status == 'solicitado' %}
             <label class="status-label text-laranja"><i class="fa fa-hand-paper-o fa-2x"></i> Solicitado</label>
             {% elif pedido.status == 'entregue' %}
             <label class="status-label text-verde"><i class="fa fa-thumbs-o-up fa-2x"></i> Entregue</label>
             {% elif pedido.status == 'cancelado' %}
             <label class="status-label text-red"><i class="fa fa-thumbs-o-down fa-2x"></i> Cancelado</label>
             {% elif pedido.status == 'emprocessamento' %}
             <label class="status-label text-azul"><i class="fa fa-hand-grab-o fa-2x"></i> Em processo</label>
             {% elif pedido.status == 'concluido' %}
             <label class="status-label text-azul"><i class="fa fa-hand-pointer-o fa-2x"></i> Concluído</label>
             {% endif %}
             <label class="data"> {{ pedido.data }}</label>
             <label class="hora">{{ pedido.hora }}</label>
             <label class="cliente">{{ pedido.cliente.nome }}</label>
             <label class="pedido-title">{{ card_uid }}</label>
             <label class="telegram"><i class="fa fa-facebook"></i> Messenger</label>
          </h3>
          <!-- Detalhe -->
          <div class="detalhe">
              <div class="col-md-6 detalhe-left">

                <!-- Lista de pedidos -->
                 <div class="lista-pedidos"><br>
                    <h4><i class="fa fa fa-wpforms"></i> Itens do pedido</h4>
                    <div class="bs-example">
                        <div class="list-group">
                            {% for item in pedido.itens.all %}
                            <!-- Item -->
                            <a href="javascript:void(0);" class="list-group-item">
                                {{ item.quantidade }} {{ item.produto }}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                 </div>
                 <!-- Fim lista de pedido -->
              </div>
              <div class="col-md-6"><br>
                <h4><i class="fa fa-comments-o"></i> Chat</h4>

                <!-- Inicio dialogo -->
              <div class="col-md-12">
                <div class="dialogo messeger">
                  <div class="cabecalho-chat">
                    <p>{{ pedido.cliente.nome }}<p>
                  </div>
                  {% if pedido.historico %}
                      <ul class="dialogo-hist">
                        {% for item in pedido.historico %}
                         {% if 'cliente' in item %}
                          <li class="cons">
                              <img class="media-object img-circle" src="{% if pedido.cliente.foto %}{{ pedido.cliente.foto }}{% else %}../../static/bipy3/img/default_user.png{% endif %}" width="40" height="40" alt="">
                              <div class="balao">
                                <h4 class="media-heading"> {{ pedido.cliente.nome }}</h4>
                                <p>{{ item.cliente }}</p>
                              </div>
                          </li>
                         {% elif 'bot' in item %}
                          <span class="bico"></span>
                          <li class="est">
                              <div class="balao">
                                <h4 class="media-heading"> Bar Demonstração Indoor</h4>
                                <p>{{ item.bot }}</p>
                              </div>
                          </li>
                         {% endif %}
                        {% endfor %}
                      </ul>
                    {% else %}
                        <p class="interacao-hist">Sem interação com cliente</p>
                  {% endif %}

                  <br><br>
                </div>
              </div>

                <!-- Fim Dialogo -->
              </div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% if pedidos %}
    <nav aria-label="Page navigation">
      {% paginacao_inicial pedidos.paginator.num_pages pedidos.number 5 as pagina_inicial %}
      {% paginacao_range pedidos.paginator.num_pages 5 as pagina_range %}
      <ul class="pagination">
        <li {% if not pedidos.has_previous %}class="disabled"{% endif %}>
          <a href="{% if not pedidos.has_previous %}javascript:void(0);{% else %}javascript:setPagina({{ pedidos.previous_page_number }});{% endif %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li {% if pedidos.number == 1 %}class="active"{% endif %}><a href="javascript:setPagina(1);">1{% if pedidos.number == 1 %} <span class="sr-only">(current)</span>{% endif %}</a></li>
        {% if pagina_inicial > 2 %}
        <li><a href="javascript:void(0);">...</a></li>
        {% endif %}
        {% for pagina in pagina_range %}
          {% paginacao_pagina_equal pedidos.number pagina_inicial forloop.counter0 as pagina_equal %}
        <li {% if pagina_equal %}class="active"{% endif %}><a href="javascript:setPagina({{ forloop.counter0|add:pagina_inicial }});">{{ forloop.counter0|add:pagina_inicial }}{% if pagina_equal %} <span class="sr-only">(current)</span>{% endif %}</a></li>
        {% endfor %}
        {% if pedidos.paginator.num_pages|add:'-5' > pagina_inicial %}
        <li><a href="javascript:void(0);">...</a></li>
        {% endif %}
        {% if pedidos.paginator.num_pages > 1 %}
        <li {% if pedidos.number == pedidos.paginator.num_pages %}class="active"{% endif %}><a href="javascript:setPagina({{ pedidos.paginator.num_pages }});">{{ pedidos.paginator.num_pages }}{% if pedidos.number == pedidos.paginator.num_pages %} <span class="sr-only">(current)</span>{% endif %}</a></li>
        {% endif %}
        <li {% if not pedidos.has_next %}class="disabled"{% endif %}>
          <a href="{% if not pedidos.has_next %}javascript:void(0);{% else %}javascript:setPagina({{ pedidos.next_page_number }});{% endif %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    {% endif %}
</div>
<!-- inicio dialogo bot -->
<div class="content-dialog"></div>
<div class="bg"></div>
{% endblock %}

{% block scripts %}
    {% include "includes/snippets/chat_jquery_template.html" %}
    <script type="text/javascript">
      function setPagina(pagina)
      {
        document.getElementById('pagina').value = pagina;
        $('#form-filtros-pedido').submit();
      }
      $(document).ready(function($) {

        // Botao limpar
        $('#btn_limpar').click(function(){
            $('#campo-nome, #campo-pedido, #data-pedido').val('');
        });

        $('#accordion').find('h3').click(function(){
          $(this).next().slideToggle('slow');

          $(".detalhe").not($(this).next()).slideUp('slow');

          var topo = $(this).offset().top + -50;
          $("body").animate({scrollTop : topo }, 800);
        });

        $('#data-pedido').datepicker({
            language: 'pt-BR'
        });

        //Notificacoes ===========
        {% include "includes/snippets/notificacoes_cliente.html" %}
        {% include "includes/snippets/notificacoes_servidor.html" with notificacoes=notificacoes %}
      });

    </script>

{% endblock %}