{% extends "includes/layout_no_header.html" %}

{% block conteudo %}

    <div class="geral">
      <div class="col-md-8 left-login">

      </div>
      <div class="col-md-4 right-login">
        <div class="col-md-12 logo-login">
            <h1><a href="/"><img src="../static/bipy3/img/logo_maior_login.png" /></a></h1>
        </div>
        <div class="col-md-12 form-login">
            <form action="" method="post" id="form-login">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                  <input type="text" id="id_username" name="username" class="form-control" placeholder="Usuário..." aria-describedby="basic-addon1">
                </div><br />
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1"><span class="fa fa-unlock" aria-hidden="true"></span></span>
                  <input type="password" id="id_senha" name="senha" class="form-control" placeholder="Senha..." aria-describedby="basic-addon1">
                </div><br />
                <label class="select-loja hide">
                    <select id="id_loja" name="loja" class="form-control">
                        <option selected="selected" value="">Selecione a Loja</option>
                    </select>
                </label><br class="select-loja hide" /><br class="select-loja hide" />
                {% csrf_token %}
                <button type="button" id="btn-login-entrar" class="btn btn-primary btn-verde btn-border-white">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Entrar
                </button><span id="carregando" class="loading-login" style="display: none;">carregando...</span><br /><br />
                <a href="#">Esqueci minha senha</a>
            </form>
        </div>
        <footer>
          <p>©Copyright Bipy3 2016. Todos os direitos reservados.</p>
      </footer>
      </div>
    </div>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $("#btn-login-entrar").click(function(){
      var $this = $(this);
      var username = $.trim($('#id_username').val());
      var senha = $.trim($('#id_senha').val());
      var idLojaVisivel = $('#id_loja:visible').val() !== undefined;
      var idLoja;

      if (idLojaVisivel)
      {
        var idLoja = $.trim($('#id_loja:visible').val());
        if (username.length === 0 || senha.length === 0 || idLoja.length === 0)
        {
          alert('Usuário, senha e loja são campos obrigatórios.');
          return false;
        }
      }
      else
      {
        if (username.length === 0 || senha.length === 0)
        {
          alert('Usuário e senha são campos obrigatórios.');
          return false;
        }
      }

      $('#btn-login-entrar').hide();
      $('#carregando').attr('style', 'display: inline-block;');

      if (idLojaVisivel)
      {
        $('#form-login').submit();
        return false;
      }

      var next = getParameterByName('next');
      var data = 'username='+username+'&senha='+senha;
      if (next)
      {
        data += '&next='+next;
      }

      $.post('/bipy3/api/rest/login',
             data,
             function(data) {
        console.log(data);
        if(data.lojas)
        {
            $.each(data.lojas, function(i, loja)
                {
                    $('#id_loja').append($('<option>', {
                        value: loja.id,
                        text : loja.nome
                    }));
                }
            );
            $(".select-loja").toggleClass('hide');
            $("#carregando").attr('style', 'display: none;');
            $("#btn-login-entrar").show();
        }
        else if(data.redirect)
        {
            window.location.href = data.redirect
        }
      })
      .fail(function(data) {
        console.log(data);
        alert(data.responseJSON.message);
        $("#carregando").attr('style', 'display: none;');
        $("#btn-login-entrar").show();
      });

    });
</script>
{% endblock %}