{% extends "includes/layout_no_header.html" %}

{% block conteudo %}

    <div class="geral">
      <div class="col-md-8 left-login">

      </div>
      <div class="col-md-4 right-login">
        <div class="col-md-12 logo-login">
            <h1><a href="/"><img src="../static/bipy3/img/logo_maior_login.png" /></a></h1>
        </div>
        <div class="col-md-12 form-login">
            <!--<form action="index.html">-->
            <form action="" method="post">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                  <input type="text" id="id_username" name="username" class="form-control" placeholder="Usuário..." aria-describedby="basic-addon1">
                </div><br />
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1"><span class="fa fa-unlock" aria-hidden="true"></span></span>
                  <input type="password" id="id_senha" name="senha" class="form-control" placeholder="Senha..." aria-describedby="basic-addon1">
                </div><br />
                <label>
                    <select name="loja" class="form-control">
                        <option selected="selected">Selecione a Loja</option>
                        <option>Loja 1</option>
                        <option>Loja 2</option>
                    </select>
                </label><br /><br />
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-verde btn-border-white">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Entrar
                </button><span class="loading-login">loading...</span><br /><br />
                <a href="#">Esqueci minha senha</a>
            </form>
        </div>
        <footer>
          <p>©Copyright Bipy3 2016. Todos os direitos reservados. <br /><a href="#">Termos e condições de uso</a></p>
      </footer>
      </div>
    </div>

{% endblock %}
{% block scripts %}{% endblock %}