{% extends "includes/layout.html" %}

{% block  relacionamento %}active{% endblock %}

{% block conteudo %}

<div class="container relacionamento">
  <div class="page-header">
    <h1><i class="fa fa-list"></i> Relacionamento com os Clientes</h1>
  </div>
    <div class="filtros-pedidos"><!--
      <div class="col-md-6 border-right">
        <h4><i class="fa fa-filter"></i> Filtrar</h4><br>
        <div class="form-group">

          <div class="col-md-4">
            <input type="text" id="ultimo" placeholder="Ultimo pedido..." class="form-control"><br>
          </div>
          <div class="col-md-4">
            <input type="text" placeholder="Nome do cliente..." class="form-control"><br>
          </div>
          <div class="col-md-4">
              <label>
                  <select name="sexo" class="form-control">
                      <option selected>Sexo</option>
                      <option>Masculino</option>
                      <option>Feminino</option>
                  </select>
              </label>
          </div>
          <div class="col-md-10 label-margin">
            <label class="col-md-8 font17 no-padding">Ultima interacao feita ha mais de</label><input type="text" placeholder="" class="col-md-1 dias form-control"><label class="col-md-2 font17">dias</label><br>
          </div>

          <div class="col-md-8"><br><br>
              <label class="col-md-4 font17 no-padding">Idade entre </label><input type="text" class="col-md-2 dias form-control"><label class="col-md-1 font17"> e </label><input type="text" class="col-md-2 dias form-control"></label>
          </div>
          <div class="col-md-12"><br>
              <button type="submit" class="btn btn-primary btn-verde">
                <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filtrar
              </button>
          </div>
        </div>
      </div>-->
        <div class="form-group col-md-6">
         <form action="/pedidos/" method="get" onsubmit="$('#data_hora_btn_filtro').replaceWith($('<img src=\'/static/bipy3/img/loading.gif\'></img>'))">
          <div class="col-md-12">
            <h4 class="font17"><i class="fa fa-comments-o"></i> Enviar mensagem para seus clientes:</h4><br>
          </div>
          <div class="col-md-12">
              <textarea type="text" value="" placeholder="Digite aqui a mensagem..." class="form-control msg-users"></textarea>
          </div>

          <div class="col-md-12"><br><br>
              <button id="data_hora_btn_filtro" type="submit" class="btn btn-primary btn-verde">
                  <i class="fa fa-paper-plane"></i> Enviar Mensagem
                </button><br>
          </div>
         </form>
      </div>
    </div><!--
    <div class="dnd">
        <div class="linha-btn">
            <select class="form-control status-combo" id="sel1">
              <option value="status" selected="selected">Ordenar por</option>
              <option value="solicitado">Mais interacoes feitas</option>
              <option value="em-processo">Data ultima interacao mais recentes</option>
              <option value="concluido">Data ultima interacao mais antigas</option>
            </select><br>
        </div><br>


      <div class="coluna">
        <h3 class="info">
          <label class="status-label"><i class="fa fa-users fa-2x"></i> <span>Clientes</span></label>

        </h3>
        <ul id="solicitado" class="droptrue">
                  <li class="ui-state-default">
            <div class="header-pedido">
              <div class="cabecalho">
                <img class="media-object img-circle" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p200x200/12243443_986437741413043_7091711780184954737_n.jpg?oh=e295a08a8f769b82d6416e6c4d3c4510&oe=584A08C2" width="40" height="40" alt="">
                <p>Fabio Marques<br> <span class="ultimo">Ultimo pedido: 16/06/2016</span></p>
              </div>
            </div>
            <div class="conteudo-pedido">
              <ul>
                <li><label class="status-label"><strong>Interacoes:</strong> 200</label></li>
                <li class="messeger detalhe-pedido-icon">
                  <label class="status-label">
                    <strong>Enviar menssagem:</strong>
                    <i class="logo open-dialogo"></i>
                  </label>

                  <!-- inicio dialogo messenger. Em relaçao ao telegram, alterar a classe abaixo para mudar o layout

                  <div class="dialogo messeger">
                    <a href="javascript:void(0);" class="close">X</a>
                    <div class="cabecalho-chat">
                      <p>Fabio Marques<br> <span class="ultimo">Último pedido: 16/06/2016</span><p>
                    </div>
                    <ul>
                      <li>
                        <span>Enviado 12 de maio às 19:32</span>
                      </li>

                      <li class="est">
                          <img class="media-object img-circle" src="img/logo-pizzaria.png" width="40" height="40" alt="">
                          <div class="balao">
                            <h4 class="media-heading"> Bar Demonstração Indoor</h4>
                            <p>Olá, Fabio Marques! Hoje temos chopp em drobro. Venha aproveitar</p>
                          </div>
                      </li>
                        <li class="cons">
                          <img class="media-object img-circle" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p200x200/12243443_986437741413043_7091711780184954737_n.jpg?oh=e295a08a8f769b82d6416e6c4d3c4510&oe=584A08C2" width="40" height="40" alt="">
                          <div class="balao">
                            <h4 class="media-heading"> Roberto</h4>
                            <p>Obrigado!!</p>
                          </div>
                      </li>
                      <span class="bico"></span>
                    </ul>
                    <div class="box-teclado">
                      <label>
                        <input type="text" placeholder="Mensagem..." name="texto">
                      </label>
                      <i class="btn-send">Enviar</i>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <!-- Fim dialogo
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg"></div>
<br><br>-->
{% endblock %}

{% block scripts %}

<script type="text/javascript">
  $(document).ready(function($) {
    // Datepicker
    $('#ultimo').datepicker({
        dateFormat: 'dd/mm/yy'
    });

    // Seta altura do background quando a janela do dialogo é exibida
    $(".bg").height($(document).height());

    // Botão fechar box
    $('.coluna').on('click', '.close, .bg', function() {
      $(this).parent('.dialogo, .lista-pedidos').hide();
      $('.bg').hide();
    });

    // Abrir dialogo
    $('.coluna').on('click', '.open-dialogo', function() {
        $(this).parent('.status-label').parent(".detalhe-pedido-icon").find('div.dialogo').show();
        $('.bg').show();
    });

  });
</script>

{% endblock %}