/* =======================================================================
Kane - Responsive App Landing Page 1.7
======================================================================= */

/* --------------------------------------
=========================================
GLOBAL STYLES
=========================================
-----------------------------------------*/

html {
    font-size: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #665c53;
    line-height: 28px;
    text-align: center;
    overflow-x: hidden !important;
    margin: auto !important;
	height: 100%;
	width: 100%;
}


@font-face {
    font-family: 'copa';
    src: url('../fonts/CopaseticNF.eot');
    src: url('../fonts/CopaseticNF.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CopaseticNF.woff') format('woff'),
        url('../fonts/CopaseticNF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.geral{
	height: 100%;
	width: 100%;
}

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

a {
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
}

a:hover {
    text-decoration: none;
}

.btn:focus,
.btn:active {
    outline: inherit;
}


/* Other fixes*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
            box-sizing: border-box;
}

ul,
ol {
    padding-left: 0 !important;
}

li {
    list-style: none;
}


/* PRE LOADER */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
    margin: -20px 0 0 -20px;
}

/*---------------------------------------
   Typography                
-----------------------------------------*/

/* FONT FACE LOADER */
@font-face {
    font-family: 'Lane';
    src: url('../fonts/lanenar_Lane.eot');
    src: url('../fonts/lanenar_Lane.eot?#iefix') format('embedded-opentype'), url('../fonts/lanenar_Lane.woff') format('woff'), url('../fonts/lanenar_Lane.ttf') format('truetype'), url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
 
    @font-face {
        font-family: 'Lane';
        src: url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    }
}

/* HEADINGS */

h1,
h2 {
    font-family: 'Lane', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 3.75rem;
    line-height: 4.688rem;
    margin-top: 0;
}

h2 {
    font-size: 3.125rem;
    line-height: 4.063rem;
}

h3 {
    font-size: 24px;
    line-height: 38px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    font-weight: 300;
}

/*---------------------------------------
   CUSTOM BUTTON              
-----------------------------------------*/

.standard-button,
.standard-button2 {
    font-size: 18px;
    font-weight: 400 !important;
    border-radius: 4px !important;
    text-shadow: 0 !important;
    color: #ffffff;
    min-width: 150px;
    border: none;
    padding: 16px 25px 16px 25px;
    margin: 5px;
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
}

.standard-button:hover,
.standard-button2:hover {
    border: none;
}

.standard-button i,
.standard-button2 i {
    vertical-align: inherit;
    margin-right: 8px;
    font-size: 20px;
}


.btn-topo{
margin-top:8px;


}

/*---------------------------------------
   TEXTS               
-----------------------------------------*/

.white-text {
    color: #ffffff;
}

.dark-text {
    color: #272727;
}

.grey-bg {
    background: #F7F8FA !important;
}


/*---------------------------------------
   SECTIONS          
-----------------------------------------*/

.section-header {
    padding-bottom: 15px;
}

#home .section-header {
    width: 600px;
    margin: 0 auto;
}

.section-header h2 {
    margin-bottom: 20px;
}

.section-header .section-description {
    display: inline-block;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*---------------------------------------
   LINES          
-----------------------------------------*/

.colored-line {
    margin: auto;
    z-index: 1;
    width: 165px;
    height: 1px;
}

.geral .colored-line, .geral .colored-line-left {
    background: red;
}

.white-line {
    margin: auto;
    z-index: 1;
    width: 165px;
    height: 1px;
    background: #ffffff;
}

.colored-line-left {
    float: left;
    z-index: 1;
    display: block;
    width: 165px;
    height: 1px;
}

/*---------------------------------------
=========================================
 **   SECTION STYLES                
=========================================
-----------------------------------------*/

/*---------------------------------------
   SECTION:  HOME                 
-----------------------------------------*/

header .full-screen {
    width: 100%;
    height: 100px;
}

/* TOP BAR WITH NAVIGATION */

.navbar{
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 2000;
    background: #fff;
      -webkit-backface-visibility: hidden;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
          box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
}

.sticky-navigation .navbar-header img {

}

.sticky-navigation .main-navigation .current a {
  position: relative;
  outline: none;
}

.sticky-navigation .main-navigation a.active {
   color: #000000 !important;
}

.sticky-navigation .main-navigation li a {
  line-height: 40px;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}

.sticky-navigation .main-navigation li a:hover {
    color: #000000;
}

.navbar-inverse .navbar-toggle {
border-color: #313131;
background: #313131;
}

header .only-logo .navbar {
    background: none;
    padding: 60px;
}

header .only-logo .navbar .navbar-header {
    float: none;
}

/* INTRO */

header .home-contents {
    margin-top: 5%;
}

header .intro-section {
    text-align: left;
}

header .intro-section .standard-button {
    margin: 0;
}

header .phone-image {
    max-width: 693px;
    margin: auto;
    margin-bottom: 0px;
}

header .phone-image img {
    width: 100%;
}

header .intro-section .intro {
    color: #ffffff;
    margin-bottom: 36px;
}

header .intro-section h5 {
    color: #ffffff;
}

header .intro-section .buttons {
    margin-top: 35px;
}

/*---------------------------------------
   SECTION:  FEATURES                 
-----------------------------------------*/

.features {
    padding-top: 80px;
    padding-bottom: 30px;
    background: #ffffff;
}

.features .features-left {
    text-align: right;
    margin-top: 26px;
    margin-bottom: 80px;
}

.features .features-left .icon-container {
    float: right;
    margin-left: 20px;
}

.features .features-right {
    text-align: left;
    margin-top: 26px;
    margin-bottom: 80px;
}

.features .features-right .icon-container {
    float: left;
    margin-right: 20px;
}

.features .feature {
    margin-bottom: 40px;
}

.features .feature .icon-container {
    display: block;
    min-height: 120px;
    margin-top: 5px;
}

.features .feature .icon-container .icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    line-height: 55px;
    font-size: 18px;
    text-align: center;
    -webkit-transition: all ease-in 0.25s;
            transition: all ease-in 0.25s;
    -webkit-background-clip: padding-box;
           -moz-background-clip: padding;
            background-clip: padding-box;
}

.features .phone-image {
    max-width: 250px;
    margin: auto;
    margin-bottom: 80px;
}

.features .phone-image img {
    width: 100%;
}


/*---------------------------------------
   SECTION:  BRIEF                 
-----------------------------------------*/

.app-brief {
    padding-top: 10px;
    padding-bottom: 60px;
}

.app-brief h2 {
    margin-bottom: 20px;
}

.app-brief .phone-image {
    max-width: 100%;
    margin: auto;
    margin-bottom: 50px;
}

.app-brief .phone-image img {
    width: 100%;
    height: 560px;
}

.app-brief .left-align {
    text-align: left;
    margin-bottom: 50px;
}

.app-brief .left-align p {
    display: block;
    float: none;
    margin-top: 50px;
}

.app-brief .left-align .feature-list {
    margin-top: 25px;
}

.app-brief .left-align .feature-list li {
    margin-bottom: 15px;
    line-height: 26px;
}

.app-brief .left-align .feature-list li i {
    margin-right: 10px;
    vertical-align: inherit;
}


/* VIDEO */

video {
    max-width: 100%;
    height: auto;
}

iframe,
embed,
object {
    max-width: 100%;
}

.video-container {
    width: 90%;
    background: transparent !important;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 40px; 
}

.video {
    background: transparent !important;
}


/*---------------------------------------
   SECTION:  TESTIMONIALS                 
-----------------------------------------*/
.testimonials {
    background: url(../images/bg-2.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
            background-size: cover;
    color: #ffffff;
}

.testimonials .color-overlay {
    padding-top: 110px;
    padding-bottom: 110px;
}

.testimonials .feedback {
    max-width: 750px;
    margin: auto;
}

.testimonials .feedback .image {
    font-size: 24px;
    border: 2px solid transparent;
    -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
            box-shadow: 0px 0px 0px 2px #ffffff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
}

.testimonials .feedback .image img {
    width: 100%;
    vertical-align: top;
}

.testimonials .feedback .message {
    font-size: 18px;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 30px;
}

.testimonials .feedback .name {
    margin-top: 15px;
    font-weight: 400;
}

.testimonials .feedback .company-info {
    font-size: 12px;
}

.testimonials .owl-theme .owl-controls .owl-page span {
    background: #ffffff;
    border-radius: 50%;
}

.testimonials .customNavigation a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*---------------------------------------
   SECTION:  SERVICES           
-----------------------------------------*/

.services {
    padding-top: 80px;
    padding-bottom: 60px;
    background: #ffffff;
}

.services .single-service {
    padding-bottom: 60px;
}

.services .single-service .service-icon {
    font-size: 80px;
}

.services .single-service h3 {
    margin-top: 20px;
}



/*---------------------------------------
   SECTION:  SCREENSHOTS 
-----------------------------------------*/

.screenshots {
    padding-top: 80px;
    padding-bottom: 120px;
}

.screenshots .shot {
    background: #FFFFFF;
    padding: 10px;
    margin: 13px;
    border-radius: 4px;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: block;
}

.screenshots .shot img {
    border-radius: 4px;
    width: 100%;
}

/*---------------------------------------
   SECTION:  PACKAGES | Added on version 1.7      
-----------------------------------------*/

.packages {
    padding-top: 80px;
    padding-bottom: 60px;
    background: #ffffff;
}

.single-package {
    background: #F7F8FA;
    overflow: auto;
    border: 0px solid #161616;
    border-radius: 3px;
    margin-bottom: 60px;
}

.single-package .price {
    background: #FFFFFF;

}
.single-package .color-bg {
    background-color: !important;
}
.single-package .price h2 {
    color: #272727;
}

.single-package .price .color-bg h2 {
    color: #FFFFFF !important;
} 

.single-package .price .sign {
    vertical-align: super;
    font-size: 20px;
}

.single-package .price .month {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.single-package .package-feature {
  margin-top: 25px;
  margin-bottom: 25px;
}

.single-package .package-feature > li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.single-package .package-feature > li > span {
  margin-right: 7px;
}


/*---------------------------------------
   SECTION:  DOWNLOAD                 
-----------------------------------------*/

.download {
    background: url('../images/bg-3.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
            background-size: cover;
    color: #ffffff;
}

.download .color-overlay {
    padding-top: 110px;
    padding-bottom: 70px;
}

.download .download-container {
    padding-bottom: 80px;
}

.download .subscription-form-container {
    padding-bottom: 80px;
}

.download .subscription-form .input-box {
    height: 57px;
    padding-left: 20px;
    width: 320px;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #FFF;
    border: 2px solid #FFF;
}

.download .subscription-form .input-box:focus, 
.download .subscription-form .input-box:active {
    color: #000;
    font-weight: 400;
}

.download .subscription-form .subscription-success,
.download .subscription-form .subscription-error {
    display: none;
}

.download h2 {
    margin-bottom: 30px;
}

/*---------------------------------------
   SECTION:  FOOTER                
-----------------------------------------*/

footer .contact-box {
    margin-bottom: 78px;
}

footer .contact-box .contact-button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    font-size: 30px;
    line-height: 70px;
    vertical-align: middle;
    margin-top: -40px;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 0px 3px #ffffff;
            box-shadow: 0px 0px 0px 3px #ffffff;
    -webkit-backface-visibility: hidden;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

footer .contact-box .contact-button:hover {
    color: #ffffff;
}

footer .contact-box .expanded-contact-form {
    margin-top: 40px;
    display: none;
}

footer .contact-box .expanded-contact-form .success,
footer .contact-box .expanded-contact-form .error {
    display: none;
}

footer .contact-box .expanded-contact-form .input-box {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 50px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

footer .contact-box .expanded-contact-form .textarea-box {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

footer .contact-box .expanded-contact-form .textarea-box:active {
    color: #000;
}

footer .social-icons {
    margin-top: 30px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 50px;
}

footer .social-icons li {
    display: inline-block;
    margin: 5px;
}

footer .social-icons li a {
    font-size: 30px;
    color: #c2c2c2;
}

footer .copyright {
  color: #808080;
  padding: 20px 0;
  width: 850px;
  margin: 0 auto;
}

footer{
    float: left;
    width: 100%;
}

.geral-loading{
  background: #fff;
  opacity: .9;
  z-index: 10;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#loading {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
}

.navbar-right {
    float: right!important;
    margin-top: 8px;
}

.navbar-nav>li>a{
    color: #999;
}

.navbar-nav>li>a.active, .navbar-nav>li>a:hover{
    color: #000;
    background: none;
}

#loading span{
    background: url("../../Content/images/ajax-loader.gif") no-repeat center center;
    display: block;
    width: 50px;
    height: 50px;
}

#oquee .thumbnail{
    border: 1px solid #428bca;
	width: 200px;
	border-radius: 150px;
	height: 200px;
}

#oquee .thumbnail i{
    margin-top: 50px;
}

.linha{
	width: 100%;
    float: left;
    min-height: 800px;
    background: transparent;
}

#problemas{
    height: 606px;
    min-height: 606px;
}

#comofunciona.linha{
    background: url(../images/bg-1.jpg) no-repeat 0 -150px;
    background-size: cover;
    background-attachment: fixed;
    min-height: 420px;
    color: #fff;
}

#comofunciona:before{
    background: rgba(0,0,0, .7);
    content: " ";
    height: 420px;
    width: 100%;
    position: absolute;
    left: 0;
}

#comofunciona.linha a, #comofunciona.linha a:hover{
    color: #fff;
    text-decoration: underline;
}

#comofunciona.linha h2{
    color: #fff;
}

#fale.linha{
    border-bottom: 1px solid #dedede;
    min-height: 250px;
}

#fale.linha .container{
    width: 600px
}

#fale.linha .container .coluna-fale{
    width: 190px;
    float: left;
}

.fb a{
    color: #3b5998;
    font-weight: bold;
}

#vantagens.linha{
    padding: 0;
}

.home{
	margin-top: 200px;
}

.features.linha h2, .features.linha p, #home .section-header a{
	color: #fff;
}

.features.linha p{
    font-family: 'Lane', sans-serif;
	font-size: 20px;
    padding: 20px;
}

#home{
	height: 100%;
	width: 100%;
	background: url('../images/_bg-2.jpg') no-repeat 0 0;
    background-size: cover;
    background-attachment: fixed;
}

#home:before{
	background: rgba(0, 0, 0, 0.3);
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
	height: 800px
}

.meio{
    width: 810px;
    margin: 0 auto;
}

.app-brief h2{
    font-size: 40px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 5px;
}

.app-brief .left-align p{
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 0;
}

#comofunciona .colored-line{
    background: #fff;
}

#oquee .col-md-6 i{
    margin: 0 auto;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(75,192,192,1);
    border-radius: 40px;
    padding: 10px;
    color: rgb(75,192,192);
}

#oquee .col-md-6 p{
    float: left;
    line-height: 18px;
}

.detail{
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
}

.esquerda {
    padding-left: 140px;
}

.detail h5{
    margin: 0;
    color: rgb(75,192,192);
}

#oquee .col-md-12{
    margin: 0 0 45px 0;
}

.fa-cutlery{
    width: 72px;
}


.fa-motorcycle{
    width: 81px;
    height: 77px;
}

#home h1{
    border: 3px solid #fff;
    width: 215px;
    margin: 0 auto;
    border-radius: 9px;
    line-height: 80px;
}

#home .section-description.container.home{
    position: absolute;
    z-index: 100;
    width: 100%;
}

.hot-site-logo{
    height: 70px;
}

#home h1 span{
	color: #fff;
}

#home h1 span:last-child{
	font-size: 25px;
}

#home h1 span.parte-1{
    color: rgb(75,192,192);
}

#home h1 span.parte-2{
    color: #d25c5c;
}

#home .section-header a.entenda{
    font-size: 12px;
}

h3{
    color: #fff;
    line-height: 23px;
    margin: 0 0 40px 0;
}

#video{
    display: none;
    position: fixed;
    top: 78px;
    left: 0;
    z-index: 1031;
    width: 560px;
    right: 0;
    bottom: 0;
    margin: auto;
}

.linha #fecha-video span{
	content: "X";
	position: absolute;
	top:-10px;
	right: -10px;
	border: 1px solid #428bca;
	color: #428bca;
	border-radius: 20px;
	width: 30px;
	height: 30px;
	background: #fff;
	cursor: pointer;
	z-index: 10001;
}

.app-brief .phone-image img.view{
    position: absolute;
    top: 40px;
    left: 78px;
    width: 428px;
    height: 467px;
}

.form-site input, .form-site select, .form-site textarea{
    height: 50px;
    width: 95%;
    float: left;
    border: 0;
    padding-left: 10px;
    margin: 0 0 30px 0;
    background: #fff;
}

.form-site textarea{
    height: 259px;
}

.group-min-fields input{
    width: 50px;
    margin: -13px 10px 20px 0;
    float: left;
    text-align: center;
    padding: 0;
}

.group-min-fields label{
    margin: 8px 0 8px 0;
    float: left;
    line-height: 19px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.group-min-fields label:first-child{
    border-top: 1px solid #ccc;
    padding-top: 15px;
    margin-top: 20px;
}

.group-min-fields label span{
    display: block;
    float: left;
    width: 88%;
    font-weight: normal;
}

.form-site i.fa-arrow-up{
    color: green;
    float: left;
    display: block;
}

.form-site i.fa-arrow-down{
    color: red;
    margin: 0 10px 0 7px;
    float: left;
    display: block;
}

#campo2 input, #campo4 input{
    margin-top: -2px;
}

.form-site #campo2 i, .form-site #campo4 i{
    margin-top: 12px;
}

.form-site input[type="submit"]{
    background: red;
    color: #fff;
    font-weight: bold;
    width: 300px;
    margin: 0 auto;
    float: none;
}

.loading-login{
    width: 35px;
    height: 35px;
    text-indent: -999em;
    background: url(../images/loaders2.gif) no-repeat 0 0;
    background-size: 35px 35px;
    display: block;
    position: relative;
    top: -41px;
    left: 500px;
}

.form-indicacao-loading{
    left: 150px;
}

.form-site i{
    cursor: pointer;
}

.btn-link{
    color: #fff;
    font-weight: bold;
    display: block;
    float: left;
    background: red;
    padding: 20px 30px;
    margin-top: 40px;
    font-size: 20px;
}

.btn-link:hover{
    color: #fff;
    font-weight: bold;
    display: block;
    float: left;
    background: red;
    padding: 20px 30px;
    margin-top: 40px;
    text-decoration: underline;
    font-size: 20px;
}

.right, .right:hover{
    float: right;
}

#oquee p{
    font-size: 19px;
}

.coluna{
    width: 17%;
    float: left;
    height: 400px;
    background-color: #f00;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.coluna:hover, .coluna:focus, .coluna:active{
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}

.btn-interesse{
    width: 15%;
    padding: 0;
    float: left;
    height: 400px;
    background-color: #f00;
    display: inline-block;
}

.btn-interesse a{
    padding: 38px 0;
    height: 200px;
    margin-top: 0;
    display: inline-block;
    vertical-align: middle;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-interesse a:hover{
    padding: 38px 0;
    margin-top: 0;
    color: white;
}

.btn-interesse a:hover:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.btn-interesse a:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-interesse a:first-child{
    border-bottom: 2px solid #fff;
}

.coluna h3{
    margin: 150px 0 0 0;
    font-weight: bold;
    background: rgba(0,0,0, .7);
    float: left;
    padding: 10px;
}

.geral .coluna .colored-line{
    background: #fff;
    margin-top: 5px;
}

.pedrap{
    background: url('../images/cozinha.png') no-repeat 0 0;
    background-size: 100% 100%;
}

.cardpalm{
    background: url('../images/menu.png') no-repeat 0 0;
    background-size: 100% 100%;
}

.chamegar{
    background: url('../images/pedido-mao.png') no-repeat 0 0;
    background-size: 100% 100%;
}

.contin{
    background: url('../images/dashboard.png') no-repeat 0 0;
    background-size: 100% 100%;
}

.maiorap{
    background: url('../images/atendimento.png') no-repeat 0 0;
    background-size: 100% 100%;
}

.coluna-video{
    float: right;
    width: 50%;
    margin: 180px 0 0 0;
}

.coluna-info{
    float: left;
    width: 49%;
    padding: 30px;
    margin: 80px 0 0 0;
}

#oquee.linha{
    min-height: 530px;
    background: #fff;
    padding: 0;
    height: 600px;
}

.coluna-left{
    float: left;
    width: 49%;
}

.coluna-left img{
    float: left;
}

.coluna-right {
    float: left;
    width: 49%;
    padding-top: 170px;
}

.coluna-right h2{
    font-size: 30px;
    font-weight: bold;
    line-height: 22px;
}

.linha-infos{
    float: left;
    width: 100%;
    margin: 30px 0 0 0;
}

.linha-dashboard{
    width: 1170px;
    margin: 0 auto;
    float: none;
}

.linha-dashboard .coluna-left{
    margin: 50px 0 50px 0;
}

.link-mais{
    width: 100%;
    float: left;
}

.link-mais a{
    float: left;
    width: 50%;
    display: block;
    background: #f00;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 30px 0;
}

.link-mais a:first-child{
    border-right: 1px solid #fff;
}

.estabelecimento #vantagens{
    margin: 75px 0 0;
    height: 582px;
    min-height: 520px;
}

.estabelecimento #home:before{
    background: transparent;
}

.col-left-van{
    padding: 0;
}

.estabelecimento .app-brief h2 {
    margin-top: 35px;
    margin-bottom: 5px;
}

.estabelecimento .app-brief .phone-image img {
    height: 359px;
    width: 521px;
    margin: 80px 0 0;
}

.estabelecimento #estabelecimento{
    background-color: #ccc !important;
}

.como-comecar{
    float: left;
    width: 100%;
    margin: 40px 0 50px 5px;
}

.como-comecar li{
    float: left;
    display: block;
    padding: 20px 30px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    margin: 20px 0 0 0;
}

.como-comecar li:first-child{
    background: red;
    margin-top: 0;
}

.como-comecar li:last-child{
    background: #000;
    font-size: 18px;
}

.como-comecar li.seg{
    background: #ccc;
    font-size: 17px;
    margin-left: 20px;
}

.como-comecar li span{
    width: 40px;
    height: 40px;
    float:left;
    display: block;
    border-radius: 50px;
    text-align: center;
    background: #fff;
    color: #000;
    padding: 2px 0 0 0;
    margin-right: 10px;
}

.usuario .app-brief h2 {
    margin-top: 8px;
}

.como-comecar + p{
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.usuario .form-site{
    width: 500px;
    margin: 20px auto 40px auto;
}

.titulo-margin{
    padding-top: 40px;
}

#estabelecimento p{
    padding-left: 15px;
    padding-right: 15px;
}